---
title: "Elixir Development"
---
<article>
  <div class="page-content padding-large">
    <div class="min-width">
      <p>Cultivate have been excited by the potential of Elixir since its creation, and feel that it’s a solid choice for the creation of modern web applications.</p>
      <p>Our very own Alan Gardner (<a href="https://twitter.com/mr_urf">@mr_urf</a>) spoke at ElixirConf 2015 on combining the Phoenix web framework with the Elm programming language. You can watch the talk and check out our in-depth tutorial in links below.</p>
      <p>Our Managing Director, Paul Wilson (<a href="https://twitter.com/paulanthonywils">@paulanthonywils</a>) recently gave a talk titled "How to Build a Slack-Controlled, Saxophone-Playing Robot (on Wheels) Using Elixir and Nerves” at ElixirConfEU 2016. You can also find his talk below.</p>
      <div class="shout-out padding-medium-top">
        <p><a href="/posts/phoenix-elm-1/">View Alan's Blog Posts - Phoenix with Elm </a></p>
      </div>
    </div>
  </div>


  <div class="row row--light row--image-feature padding-medium">
    <div class="min-width">
      <h2>Alan's Elixir Talk at Elixir Conf 2015</h2>
      <div class="video-wrapper">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/MgFDZx1LmOE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>

    </div>
  </div>

</article>

<%= partial "partials/cta" %>
<div class="row padding-medium">
  <h3>Related Services</h3>
  <div class="services-links max-width">
    <%= partial "partials/service_links/software_development" %>
    <%= partial "partials/service_links/product_development" %>
    <%= partial "partials/service_links/clients" %>
  </div>
</div>
