---
title: "Elixir Development"
---
<article>
  <div class="page-content padding-large">
    <div class="min-width">
      <p>Our team have many years of experience successfully delivering complex web applications for <a href="/clients/">our clients</a>. We're already using Elixir on live client projects and can partner with you to make the most of Elixir for your next project.</p>
      <p>We can help you build a new product from scratch, improve an existing project, or partner with your teams to break down boundaries and share knowledge.</p>
      <p>You can find out more about our approach to <a href="/services/software-development/">software development</a>, or see what our clients <a href="/testimonials/">say about us</a>.</p>
   <h2>Our Elixir Content</h2>
    <p>Our very own Alan Gardner (<a href="https://twitter.com/mr_urf">@mr_urf</a>) spoke at ElixirConf 2015 on combining the Phoenix web framework with the Elm programming language. You can watch the talk below or check out <a href="/posts/phoenix-elm-1/">our in-depth tutorial</a> in our blog.</p>
    <p>Our Managing Director, Paul Wilson (<a href="https://twitter.com/paulanthonywils">@paulanthonywils</a>) recently gave a talk about using Elixir and Nerves at ElixirConfEU 2016. You can also find his talk below.</p>
      <div class="shout-out padding-medium-top">
        <p><a href="/posts/phoenix-elm-1/">View Alan's Blog Posts - Phoenix with Elm </a></p>
      </div>
    </div>
  </div>

  <div class="row row--light row--image-feature padding-medium-top">
    <div class="min-width">
      <h2>Phoenix with Elm - ElixirConf 2015</h2>
      <div class="video-wrapper">
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/MgFDZx1LmOE?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
        <div class="shout-out padding-medium-top">
        <p><a href="/posts/phoenix-elm-1/">View Alan's Blog Posts - Phoenix with Elm </a></p>
        </div>
    </div>
  </div>

  <div class="row row--light row--image-feature padding-medium">
    <div class="min-width">
      <h2>How to Build a Slack-Controlled, Saxophone-Playing Robot (on Wheels) Using Elixir and Nerves - ElixirConfEU 2016</h2>
      <div class="video-wrapper">
        <iframe src="https://player.vimeo.com/video/167743682?title=0&byline=0&portrait=0" width="1280" height="719" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>

</article>

<%= partial "partials/cta" %>
<div class="row padding-medium">
  <h2>Related Services</h2>
  <div class="services-links max-width">
    <%= partial "partials/service_links/software_development" %>
    <%= partial "partials/service_links/product_development" %>
    <%= partial "partials/service_links/clients" %>
  </div>
</div>
