---
title: "Why Cultivate"
subtitle: "What it’s like to work with us"
---
<article class="page-content min-width padding-large">

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      The team at Cultivate combine the best of agile software delivery with an in-depth knowledge of product development. It’s hard to find a team as experienced and passionate as they are.
      <cite class="testimonial__cite">Evan Henshaw-Plath Co-creator, Twitter</cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %></div>
  </blockquote>

  <blockquote class="testimonial-quote">
    <span class="testimonial-quote__inner">
      The team at Cultivate combine the best of agile software delivery with an in-depth knowledge of product development. It’s hard to find a team as experienced and passionate as they are.
      <cite class="testimonial__cite">Evan Henshaw-Plath Co-creator, Twitter</cite>
    </span>
    <div class="testimonial-quote__left"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %></div>
  </blockquote>

</article>
<%= partial "partials/cta" %>
<%= partial "partials/case_studies" %>
