---
title: "Case Study"
subtitle: "The Money Advice Service"
---
<article class="">

  <div class="page-content padding-large-top">
    <div class="shout-out divider min-width">
      <p><strong>The Challenge:</strong> To build digital products that positively affect the financial health of the 11 million annual visitors to the Money Advice Service website.</p>
    </div>

    <div class="min-width">
      <h2>A long term supporting role</h2>
      <p>Cultivate were originally engaged to update a single tool, with the opportunity to provide ongoing support on other projects based on our heritage within Agile, Lean UX and Ruby on Rails.  We worked hard from the beginning to create a transparent and collaborative partnership with The Money Advice Service’s (MAS) internal team. This has proven a valuable foundation – two years and many projects later, we continue to be a trusted pair of hands. </p>
    </div>
  </div>

  <blockquote class="testimonial-quote-macro">
    <div class="min-width">
      <div class="testimonial-quote__image"><%= image_tag "images/testimonials/large/evan-henshaw-plath.jpg", alt: "Photo of Evan Henshaw-Plath" %></div>
      The team at Cultivate combine the best of agile software delivery with an in-depth knowledge of product development. It’s hard to find a team as experienced and passionate as they are.
      <cite>Alastair Williamson-Pound - Senior Product Manager, The Money Advice Service</cite>
    </div>
  </blockquote>

</article>
<%= partial "partials/cta" %>
<div class="row padding-large">
  <h3>Related Services</h2>
<%= partial "partials/services_secondary" %>
</div>
