---
title: "Viewabill"
---

<section>
  <div class="content-column">
    <div class="case-study">
      <p>
      Viewabill connects law firms with their clients to provide transparency and real-time invoicing.
      </p>

      <p>
      As part of Edgecase, Cultivate were hired to build Viewabill, a product aimed at addressing the wide-spread problem of poor client/service provider relationships.
      </p>

      <%= image_tag("case-studies/viewabill4.jpg", alt: 'Screenshot of view-a-bill') %>
      <p>
      Cultivate were responsible for the complete engineering and visual design of the Viewbill web and iPhone applications. We integrated with many web-based time tracking systems and built a RESTful API allowing older client-server billing systems to push data to the service.
      </p>
      <p>
      Viewabill now counts MGM Resorts,  Reed Smith, Greenberg Traurig and American Eagle amongst its clients.
      </p>
    </div>
  </div>
  <div class="sidebar-column">
    <%= image_tag("case-studies/viewabill1.jpg", alt: 'Screenshot of view-a-bill') %>
    <%= image_tag("case-studies/viewabill2.jpg", alt: 'Screenshot of view-a-bill') %>
  </div>
</section>

