.blog-posts-list {
  list-style: none;
  padding: 0;
  margin: 0;
  @include rhythm(1.5, 0, 0, 0); // We can't edit our title right now, so hack it.
}

.blog-posts-list__post {
  @include rhythm(0, 0, 0, 2);
}

.blog-post__author {
  font-weight: 400;
}

.blog-post__body {
  @include rhythm(1, 0, 0, 1);

  img {
    max-width: 100%;
  }

  [data-twttr-id] {
    @include rhythm(2, 0, 0, 2);

    > iframe {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}
