.button {
  border-radius: 5px;
  border: 2px solid $green_brand;
  background-color: $green_brand;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  @include font-size(14);
  color: $grey_dark;
  padding: 14px 23px;
  font-weight: 700;


    &:hover, &:focus, &:active {
      color: $grey_dark;
      background: transparent;
      border-color: $grey_dark;
    }

    &.button--on-dark {
      &:hover, &:focus, &:active {
        border-color: $white;
        color: $white;
      }
    }

    &.button--small {
      padding: 10px 14px;
    }

    &.button--reverse {
      background: $grey_dark;
      border-color: $grey_dark;
      color: $white;
      &:hover, &:focus, &:active {
        border-color: $grey_dark;
        color: $grey_dark;
        background: transparent;
      }
    }

    &.button--extended {
      padding-left: 30px;
      padding-right: 30px;
      @include em-min-width($breakpoint_tablet) {
        padding-left: 40px;
        padding-right: 40px;
      }
      @include em-min-width($breakpoint_small_desktop) {
        padding-left: 45px;
        padding-right: 45px;
      }
    }

}



.button-pagination {
  span, a {
    border-radius: 5px;
    border: 2px solid $green_brand;
    background-color: $green_brand;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    @include font-size(14);
    color: $grey_dark;
    padding: 14px 17px;
    font-weight: 700;
    min-width: 127px;
    text-align: center;
    &:hover, &:focus, &:active {
      color: $white;
      background: $grey_dark;
      border-color: $grey_dark;
    }
  }
  span, span:hover, span:focus, span:active {
    color: $grey_dark;
    border: 2px solid $grey_default_half;
    background-color: $grey_default_half;
    opacity: 0.5;
  }
}
