.work-with-us {
  background: $grey_light_brand;
  text-align: center;
  a {
    color: $grey_dark;
    border-bottom: 2px solid $grey_dark;
    @include transition(border-color,0.2);
    &:hover {
      border-color: $pink_brand;
    }
  }
}

#site-footer {
  background: $grey_dark;
  color: $white;
    .form {
      input {
        width: 100%;
        margin-bottom: 20px;
      }
    }
    a {
      color: $white;
    }
}

.text-half {
  color: $grey_dark_half;
}

.footer-copyright {
  margin-top: 30px;
}
