.work-with-us {
  background: $grey_light_brand;
  text-align: center;
  a {
    color: $grey_dark;
    border-bottom: 2px solid $grey_dark;
    @include transition(border-color,0.2);
    &:hover {
      border-color: $pink_brand;
    }
  }
}

#site-footer {
  display: inline-block;
  width: 100%;
  margin-bottom: -7px;
  background: $grey_dark;
  color: $white;
    .form {
      input {
        width: 100%;
        margin-bottom: 20px;
        @include em-min-width($breakpoint_small_desktop) {
          margin-bottom: 0;
          margin-right: 10px;
          width: auto;
          min-width: 70%;
        }
      }
    }
    a {
      color: $white;
    }
}

.text-half {
  color: $grey_dark_half;
}

.footer-copyright {
  margin-top: 30px;
}

@include em-min-width($breakpoint_tablet) {
  .footer-signup, .footer-copyright {
    float: left;
    width: 50%;
    margin-top: 0;
  }
  .footer-signup {
    float: right;
    padding-left: 20px;
    max-width: 555px;
  }
  .footer-copyright {
    padding-right: 20px;
  }
}

@include em-min-width($breakpoint_small_desktop) {
  .footer-signup, .footer-copyright {
    padding: 0;
  }
}
