#masthead {
  background-color: $bg_charcoal;
  padding: 20px;
  @include em-min-width($breakpoint_tablet) {
    padding: 28px 20px;
  }
}

.masthead--inner {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#site-logo {
  vertical-align: middle;
  display: table-cell;
  width: 70%;
  @include em-min-width($breakpoint_tablet) {
    width: 30%;
  }
}


#site-navigation {
  display: table-cell;
  width: 30%;
  text-align: right;

  @include em-min-width($breakpoint_tablet) {
    width: 70%;
  }

    nav {
      display: none;

      @include em-min-width($breakpoint_tablet) {
        display: block;

        ul {
          padding: 0;
          margin: 0;

          li {
            list-style: none;
            display: inline-block;
            margin-left: 25px;
            &:first-child {
              margin-left: 0;
            }
            a {
              padding-bottom: 8px;
              &:hover {
                border-bottom: 2px solid $pink_brand;
              }
            }
          }

        }

      }

    } // include


}

// Nav states
.jobs {
  a.nav-jobs {
    border-bottom: 2px solid $green_brand;
  }
}

.services {
  a.nav-services {
    border-bottom: 2px solid $green_brand;
  }
}

.clients {
  a.nav-clients {
    border-bottom: 2px solid $green_brand;
  }
}

.about {
  a.nav-about {
    border-bottom: 2px solid $green_brand;
  }
}

.posts {
  a.nav-posts {
    border-bottom: 2px solid $green_brand;
  }
}


.contact {
  a.nav-contact {
    border-bottom: 2px solid $green_brand;
  }
}
