html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

.padding {
  padding: 20px;
}

.padding-large {
  padding: 40px 20px;
  @include em-min-width($breakpoint_tablet) {
    padding: 60px 20px;
  }
}

.padding-large-top {
  padding: 40px 20px 0 20px;
  @include em-min-width($breakpoint_tablet) {
    padding: 60px 20px 0 20px;
  }
}


blockquote {
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-style: oblique;
  font-size: 130%;
  text-align: center;

    cite, .testimonial-quote__left {
      display: block;
      margin: 0 auto;

      img {
        display: block;
        margin: 40px auto 20px auto;
        border-radius: 100%;
      }

      font-style: normal;
      font-weight: 400;
      font-size: 60%;
      text-transform: uppercase;

    }

}

.max-width {
  margin: 0 auto;
  max-width: 1340px;
}

.mid-width {
  margin: 0 auto;
  max-width: 1160px;
}

.min-width {
  margin: 0 auto;
  max-width: 960px;
}

.site-content-area-header {
  background-color: $pink_brand;
  color: $white;
  text-align: center;
  h1, h2 {
    color: $white
  }
}

.page-content {
  p + ul {
    margin-top: -15px;
  }
  ul {
    padding: 0 0 20px 0;
    ul {
      padding: 10px 0 5px 0;
      li {
        padding-left: 30px;
      }
    }
    li {
      list-style-type: none;
      padding: 0 0 5px 40px;
      text-indent: -15px;
      &:before {
        content: '• ';
        color: $pink_brand;

      }
    }
  }
}

.row {
  text-align: center;
  &.row--light {
    background: $grey_light_brand;
  }
  h2, h3 {
    margin-bottom: 30px;
  }
}

.divider {
  position: relative;
  &:after {
    position: relative;
    content: '';
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 50px auto 40px auto;
    height: 1px;
    border-top: 1px solid $grey_mid_brand;
    @include em-min-width($breakpoint_tablet) {
      margin: 70px auto;
    }
  }
}
