html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

body { background: #f0f0f0}

.wrapper {
  width: 100%;
  padding: 0 1em;
  margin: 0 1em;
  @include clearfix;

  @media screen and (min-width: $break-small) {
    width: 98%;
    margin: 0 auto;
  }

  @media screen and (min-width: $break-large) {
    max-width: $break-large;
  }
}

.row {
  width: 100%;
  @include clearfix;
}

section, footer { @extend .row; padding-bottom: 2em; }


section > .wrapper >  img { max-width: 100%; @include rhythm(1,0,0,1)}

.column {
  @include clearfix;
  width: 100%;
  float: none;

  @media screen and (min-width: $break-medium) {
    float: left;
  }
}

.column__half {
  @media screen and (min-width: $break-medium) {
    width: 49%;
    margin-left: 2%;
  }
  &:first-of-type{ margin-left: 0;}
}

.column__third {
  @media screen and (min-width: $break-medium) {
    width: 32%;
    margin-left: 2%;
  }
  &:first-of-type{ margin-left: 0;}
}

.column__quarter {
  @media screen and (min-width: $break-medium) {
    width: 23.5%;
    margin-left: 2%;
  }
  &:first-of-type{ margin-left: 0;}
}

.content-column {
  @extend .column;
  @media screen and (min-width: $break-medium) {
    width: 70%;
  }
}
.sidebar-column {
  @extend .column;
  @media screen and (min-width: $break-medium) {
    width: 25%;
    margin-left: 5%;
  }
}
