html {
  box-sizing: border-box;
}

body {
  padding-top: 84px;
}

*, *:before, *:after { box-sizing: inherit; }

section:last-of-type {border-bottom: none;}

footer {
  border-top: 1px solid #DDD;
}
.wrapper {
  width: 100%;
  padding: 0 1em;
  margin: 0 1em;
  overflow: hidden;
  @include clearfix;

  @media screen and (min-width: $break-small) {
    width: 90%;
    margin: 0 auto;
  }

  @media screen and (min-width: $break-large) {
    max-width: $break-large;
  }
}

.row {
  width: 100%;
  @include clearfix;
}

.column {
  width: 100%;
  float: none;

  @media screen and (min-width: $break-medium) {
    float: left;
  }
}

.column__third {
  @media screen and (min-width: $break-medium) {
    width: 32%;
    margin-left: 2%;
  }

  &:first-of-type{ margin-left: 0;}
}
.content-column {
  @extend .column;
  @media screen and (min-width: $break-medium) {
    width: 70%;
  }
}
.sidebar-column {
  @extend .column;
  @media screen and (min-width: $break-medium) {
    width: 25%;
    margin-left: 5%;
  }
}


section, footer {
  border-bottom: 1px solid #DDD;
  @extend .row;
}
