#site-header {
  @media screen and (max-width: $break-medium) { min-height: 120px};
  nav {
    float: right;
    padding: 0;
    margin: 0;
    font-weight: 300;
    width: 100%;
    clear: right;

    @media screen and (min-width: $break-menu) { width: auto; };

    li {
      @media screen and (max-width: $break-menu) { width: 20%;}
      a {
        color: black;
        @media screen and (max-width: $break-menu) { text-align: center;}
      }
    }
  }

  ul {
    float: right;
    padding: 0;
    list-style: none;
    @include clearfix;
    margin-bottom: 0;
    @media screen and (max-width: $break-menu) { width: 100%;}

    li {
      float: left;
      @include adjust-font-size-to($base-font-size);

      a {
        display: block;
        width: 100%;
        padding: 0 1em;
        text-decoration: none;
        -webkit-tap-highlight-color: white;

        &:hover, &:focus { text-decoration: underline; }

        @media screen and (max-width: $break-medium) { padding: 0 0.5em;}
      }

      &:last-child { a { padding-right: 0} }
      &:first-child { a {padding-left: 0 }}

      &.active a, a:active {
        background: rgba(0,0,0,0.2);
      }

      @media screen and (min-width: $break-medium) {
        &:last-child a { border-right: 0; }
      }
    }
  }
}


.contact-info {
  margin-top: 1em;
   @include adjust-font-size-to(14px);
  .text {display: none;}
  @media screen and (min-width: $break-contact-menu) {
    .text { display: inline-block; margin-left: 0.25em;}
  }
}

