body {
  width: 100%;
  height: 100%;
}

#menu {
  background: #1d2223;

  nav {
    display: block;
    padding: 0;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        a {
          display: block;
          padding: 30px 40px;
          @include font-size(20);
          color: white;
          &:hover, &:active, &:visited {color: white}
        }
      }
    }
  }
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #1d2223; /* A background-color is required */
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow-y: scroll;
}

.slideout-open .slideout-menu {
  display: block;
}
