@import 'normalize';
@import "compass/css3";
@import "compass/utilities";

$break-small: 320px;
$break-medium: 768px;
$break-large: 1200px;

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {font-weight: 300;}

a { 
  @include transition-property(color);
  @include transition-duration(0.3s);
  color: #086A87;
  &:hover { color: #01A9DB;}
}

.posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

#site-header {
  @include clearfix;
    background: black;
    background: rgba(0,0,0, 0.9);
    padding-bottom: 1em;
    
  #logo {
    float: left;
    font-size: 2em;
    font-weight: 100;
    @include border-radius(3px);
    color: white;
    width: 5em;

    .logo-text {float: left;}

    .logo-icon {
      float: left;
      width: 12%;
      height: 12%;
      margin-top: -0.3em;

      img { width: 100%; }
    }
  }

  nav { 
    float: right;
    padding: 0;
    margin: 0;
    font-weight: 100;

    ul {
      padding: 0;
      margin: 0;
      margin-top: 0.15em;
      list-style: none;
      @include border-radius(3px);
      @include clearfix;

    li {
      float: left;
      a { 
        color: white;
        display: block;
        padding: 0.5em 1em;

        &:hover { background: rgb(11,36,59)}
      }
    }
  }
  }
}

#message { 
  background: #AAA;
  color: white;
  // text-shadow: 1px 1px 0 #086A87;

  h1 {font-size: 300%; margin: 0;}
  h2 {font-weight: 700;}
}

#site-content-area {
  @include clearfix;
  background: white;
  border-top: 1px solid #086A87;
}

.wrapper {
  width: 100%;
  padding: 1em;
  margin: 1em;

  @media screen and (min-width: $break-small) {
    width: 90%;
    margin: 0 auto;
  }

  @media screen and (min-width: $break-large) {
    max-width: 1280px;
  }
}
