@import 'variables';
@import 'font-awesome';
@import 'normalize';
@import 'compass';
@import 'mixins';
@import 'layout';
@import 'typography';
@import 'forms';
@import 'responsive-nav';
@import 'header';
@import 'footer';
@import 'blog';
@import 'keyplace';
@import 'pagination';


a {
  @include transition-property(color);
  @include transition-duration(0.3s);
  color: $cultivate-pink;
  &:hover { color: $cultivate-pink-dark; }
}


#message {
  background: #e21d87 url("/images/inception.jpg") no-repeat top center;
  @include background-size(cover);
  border-bottom: 1px solid #e21d87;
  padding-top: rhythm(1);
  padding-bottom: rhythm(1);
  margin-bottom: 0;

  h1, h2 {
    color: white;
    @include text-shadow(rgba(#444, 0.5) -1px -1px 0)
  }

  h1 {
    @include adjust-font-size-to(60px, 2);
    font-weight: 700;

    @media screen and (max-width: $break-medium){
      @include adjust-font-size-to(34px, 1.2);
    }
  }

  h2 {
    @include adjust-font-size-to(30px, 1);
    font-weight: 300;

    @media screen and (max-width: $break-medium){
      @include adjust-font-size-to(24px, 1);
      margin-bottom: 0;
    }
  }
}

#site-content-area {
  @include clearfix;
  padding-top: rhythm(0.5);
}

footer {
  a {
    color: #aAb7bD;
    &:hover {color: white;}
  }

  div > i{
    display: inline-block;
    width: 25px;
  }

  .vcard {
    padding: 1em 0;
    .org {font-weight: 700; margin-right: 1em;}

    .adr{
      .street-address:after, .locality:after, .region:after{
        content: ", ";
      }

      @media screen and (max-width: $break-medium) {
        .postal-code {
          margin-left: 28px;
          display: block;
        }
      }

    }
  }

  .signup {
    padding: 1em 0;
  }
}

.contact-map {
  width: 100%;
  height: 10em;
  @include rhythm(1, 0, 0, 0);
}

.internal-anchor {
  display: block;
  position: relative;
  top: -1 * 80px - $base-line-height;

  @media screen and (max-width: $break-medium) {
    top: -1 * 100px - $base-line-height;
  }
}

.btn {
  width: auto;
  padding: 0;
  margin-bottom: 0.5em;
  border: 0;
  @include border-radius(3px);
  @include transition-property(background);
  @include transition-duration(0.3s);
  background: #e21d87;
  &:hover {background: #A40050;}
  a {
    text-decoration: none;
    display: inline-block;
    padding: 0.3em 1em;
    color: white;
    @include text-shadow(#A40050 1px 1px 0);
  }

  &.center {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
}

#cultivate-history {
  border-top: 1px solid #ddd;
}

.work-with-us {
  background: #dae7ed;
  border: 1px solid #cAd7dd;
  padding-bottom: 1em;

  h1 {
    @media screen and (max-width: $break-medium) {
      @include adjust-font-size-to(24px, 1.2);
    }
  }
}

footer { background: #2A373D; color: white;}

.call-to-action {
  padding: 0.5em;
  @include border-radius(3px);
  @include clearfix;
  border: 1px solid darken(gold, 10%);
  border: 1px solid rgba(darken(gold, 10%), 0.33);
  background: gold;
  background: rgba(255,215,0, 0.33);
  text-align: center;
  margin-bottom: 0;
  @include adjust-font-size-to(30px);
}


.people {
  .person {
    h2 {margin: 0}
    img { float: left; margin:  0 0.5em 0em 0; border: 1px solid #cad7dd}
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      .text { display: inline-block; margin-left: 0.25em;}
    }
  }
}

.email h3, .telephone h3 { text-align: center;}

.service-highlight {
  padding: 1em;
  background: #dae7ed;
  @include border-radius(3px);
  h3, p { @include rhythm (0,0,0,0);}
}

ul.clients {
  margin: 0;
  padding: 0;
  list-style: none;
  @include clearfix;

  li {
    float: left;
    width: 100%;
    opacity: 0.6;
    /* You can't have opacity with PNGs nicely in < IE9 */

    @media screen and (max-width: $break-menu) {
      margin-left: 2%;
      width: 49%;
      &:nth-child(2n+1) {clear: left; margin-left: 0}
      &:first-child { margin-left: 0;}
    }

    @media screen and (min-width: $break-menu) and (max-width: $break-medium){
      width: 32%;
      &:nth-child(3n+1) {clear: left; margin-left: 0}
      &:first-child { margin-left: 0;}
    }

    @media screen and (min-width: $break-medium) and (max-width: $break-large){
      width: 23.5%;
      &:nth-child(4n+1) {clear: left; margin-left: 0}
      &:first-child { margin-left: 0;}
    }

    @media screen and (min-width: $break-large) {
      margin-left: 2%;
      width: 18.4%;
      &:nth-child(5n+1) {clear: left; margin-left: 0}
    }

    img {
      vertical-align: middle;
      width: 100%;
      min-width: 100%;
      max-width: 100%;
    }
  }
}

.logo {
  float: left;
  margin-right: 1em;
  width: 25%;
}

ul.case-studies {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    float: left;
    width: 100%;
    opacity: 0.4;
    /* You can't have opacity with PNGs nicely in < IE9 */
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.6;
      /* You can't have opacity with PNGs nicely in < IE9 */
    }

    @media screen and (max-width: $break-menu) {
      margin-left: 2%;
      width: 49%;
      &:nth-child(2n+1) {clear: left; margin-left: 0}
      &:first-child { margin-left: 0;}
    }

    @media screen and (min-width: $break-menu) and (max-width: $break-medium){
      width: 32%;
      &:nth-child(3n+1) {clear: left; margin-left: 0}
      &:first-child { margin-left: 0;}
    }

    @media screen and (min-width: $break-medium) and (max-width: $break-large){
      width: 23.5%;
      &:nth-child(4n+1) {clear: left; margin-left: 0}
      &:first-child { margin-left: 0;}
    }

    @media screen and (min-width: $break-large) {
      margin-left: 2%;
      width: 18.4%;
      &:nth-child(5n+1) {clear: left; margin-left: 0}
    }
  }
}

.case-study {
  p:first-of-type{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    @include adjust-font-size-to(24px);
    @include rhythm(0, 0, 0, 1, 24px);
  }

  img { width: 100%; min-width: 100%; max-width: 100%;}
}

.testimonial {
  background: white;
  @include border-radius(3px);
  padding-left: 1em;
  padding-right: 1em;
  @include rhythm(0, 1, 1, 0, 16px);


  .attribution {
    border-top: 1px solid #DDD;
    @include rhythm(0.5, 0.5, 0, 0, 16px);
    font-style: italic;
    font-weight: 700;
  }

  img {@include border-radius(3px);}
}

.codebase img {
  width: 100px !important;
  min-width: 100px !important;
  max-width: 100px !important;
  opacity: 0.5;
  @include transition-property(color);
  @include transition-duration(0.3s);

  &:hover {
    opacity: 1;
  }
}

.testimonial, .callout {
  padding: 1em;
  margin-bottom: 1em;
  background: #dae7ed;
  border: 1px solid #cAd7dd;

  p:last-child { margin-bottom: 0;}
}


.testimonial {
  img {
    border: 1px solid #cAd7dd;
    float: left;
    width: 100px;
    margin: 0 0.5em 0.5em 0;
  }
  .quote, .author {
    margin-bottom: 0;
    @media screen and (min-width: $break-medium) {
      margin-left: 120px;
    }
  }

  .author { font-style: italic; font-size: 0.8em;}
}

.client-quote{
  padding: 1em 0;
  border-top: 1px solid #DDD;

  img {
    border: 1px solid #cAd7dd;
    float: left;
    width: 150px;
    margin: 0 0.5em 0.5em 0;
  }
  p {
    @media screen and (min-width: $break-medium) {
      margin-left: 160px;
    }
  }

  .author { font-style: italic; font-size: 0.8em;}
}

.page-contact-info {
  @media screen and (min-width: $break-menu) {
    font-size: 1.5em;
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 1em;

      i { float: left; margin-right: 0.5em;}
      span.adr span {display: block;}
    }
  }
}
