// Background Colours
$bg_charcoal      : #1d2223;


// Font Colours
$pink_brand       : #e14164;
$grey_default     : #3d4344;
$grey_dark        : #23292a;
$offwhite         : #fafafa;
$white            : #fff;
$black            : #000;
$green_brand      : #c6d148;
$grey_brand       : #b9c3c6;
