//General Breakpoints
$break-small: 320px;
$break-medium: 768px;
$break-large: 900px;

//Specific Breakpoints
$break-menu: 595px;
$break-contact-menu: 630px;

// Colours
$cultivate-pink: #e21d87;
$cultivate-pink-dark: #A40050;

