// Breakpoints
$breakpoint_tablet : 720;
$breakpoint_small_desktop : 960;
$breakpoint_medium_desktop : 1080;


// Background Colours
$bg_charcoal      : #1d2223;


// Font Colours
$pink_brand         : #e14164;
$green_brand        : #c6d148;
$grey_default       : #3d4344;
$grey_dark          : #23292a;
$offwhite           : #fafafa;
$white              : #fff;
$black              : #000;
$green_brand        : #c6d148;
$grey_brand         : #b9c3c6;
$grey_mid_brand     : #cfd6d8;
$grey_light_brand   : #eaedee;
$grey_dark_half     : #a8a9a9;
$grey_default_half  : #9faeb2;
