---
title: Posts
---
<ul class="posts-list">
<% blog.articles.each do |article| %>
  <li class="posts-list__post">
    <article>
      <h1><%= link_to article.title, article %></h1>
      <header><%= article.data.author %>, <%= article.date.strftime('%d %B, %Y') %></header>
      <div class="article-body"><%= article.summary %></div>
    </article>
  </li>
  <% end %>
</ul>
