---
title: Blog
subtitle: Thoughts &amp; Tutorials
pageable: true
per_page: 10
---


  <% page_articles.each do |article| %>
      <article>
        <h2><%= link_to article.title, article %></h2>
        <header>
          <span class="blog-post__author"><%= article.data.author %></span>
          ,
          <span class="blog-post__date"><%= article.date.strftime('%d %B, %Y') %></span>
        </header>
        <div class="blog-post__summary"><%= article.summary %></div>
      </article>
  <% end %>
