---
title: Blog
subtitle: Thoughts &amp; Tutorials
pageable: true
per_page: 10
---


  <% page_articles.each do |article| %>
      <article class="blog-post">
        <h2><%= link_to article.title, article %></h2>
        <div class="blog-post__summary"><%= article.summary %></div>
        <div class="meta">
          <span class="blog-post__author">By <%= article.data.author %></span>
          - <span class="blog-post__date"><%= article.date.strftime('%d %B, %Y') %></span>
        </div>
      </article>
  <% end %>
