<a class="services-link services-link--clients" href="/clients/">
  <div class="services-link__icon">
    <svg class="icon-clients" width="146.2" height="106.2">
      <use xlink:href="#icon-clients"></use>
    </svg>
  </div>
  <h4>Our Clients</h4>
</a>
