<a class="services-link services-link--clients" href="/clients/">
  <div class="services-link__icon">
    <svg class="icon-clients" width="121" height="90.6">
      <use xlink:href="#clients"></use>
    </svg>
  </div>
  <h4>Elixir</h4>
</a>
