<a class="services-link services-link--elixir" href="/services/elixir-development/">
  <div class="services-link__icon">
    <svg class="icon-elixir" width="121" height="90.6">
      <use xlink:href="#elixir"></use>
    </svg>
  </div>
  <h4>Elixir Development</h4>
</a>
