<a class="services-link services-link--ruby" href="/services/ruby-development/">
  <div class="services-link__icon">
    <svg class="icon-ruby" width="121" height="90.6">
      <use xlink:href="#ruby"></use>
    </svg>
  </div>
  <h4>Ruby Development</h4>
</a>
