<a class="services-link services-link--software" href="/services/software-development/">
  <div class="services-link__icon">
    <svg class="icon-software" width="177" height="103.4">
      <use xlink:href="#icon-software"></use>
    </svg>
  </div>
  <h4>Software Development</h4>
</a>
