<a class="services-link services-link--workshops" href="/services/workshops/">
  <div class="services-link__icon">
    <svg class="icon-workshops" width="120.05" height="90.6">
      <use xlink:href="#icon-workshops"></use>
    </svg>
  </div>
  <h4>Workshops</h4>
</a>
