<div class="call-to-action">
  <p>Let's make better products, together. Start the conversation today.</p>
  <button class='btn center large'>
    <%= link_to "Let's talk! &raquo;", '/#contact', class: 'internal-link' %>
  </button>
</div>
