<div class="case-studies min-width">
  <article class="case-study">
    <a href="/clients/case-studies/38-degrees">
      <%= image_tag("clients/38-degrees.svg", alt: '38 Degrees', width: '180') %>
    </a>
    <h3><a href="/clients/case-studies/38-degrees">38 Degrees</a></h3>
    <p class="case-study__meta">Realtime opinion tracking in Elixir</p>
  </article>
  <article class="case-study">
    <a href="/clients/case-studies/money-advice-service">
      <%= image_tag("clients/money-advice-service.svg", alt: 'Money Advice Service', width: '180', height: '118') %>
    </a>
    <h3><a href="/clients/case-studies/money-advice-service">Money Advice Service</a></h3>
    <p class="case-study__meta">Outsourced Product Development</p>
  </article>
  <article class="case-study see-all">
    <a href="/clients/case-studies/">
      <i class="fa fa-briefcase" aria-label="briefcase"></i>
    </a>
    <h3><a href="/clients/case-studies/">More Case Studies &raquo;</a></h3>
  </article>
</div>
