
    <div class="case-studies case-studies--core max-width">
      <article class="case-study">
        <a href="/clients/case-studies/money-advice-service">
          <%= image_tag("clients/money-advice-service.svg", alt: 'Money Advice Service', width: '180', height: '118') %>
        </a>
        <h3><a href="/clients/case-studies/money-advice-service">Money Advice Service</a></h3>
        <p class="case-study__meta">Outsourced Product Development</p>
      </article>
      <article class="case-study">
        <a href="/clients/case-studies/gov-uk">
          <%= image_tag("clients/gov-uk.svg", alt: 'Money Advice Service', width: '180', height: '118') %>
        </a>
        <h3><a href="/clients/case-studies/gov-uk">GOV.UK e-petitions</a></h3>
        <p class="case-study__meta">Web Application Build</p>
      </article>
      <article class="case-study">
        <a href="/clients/case-studies/viewabill">
          <%= image_tag("clients/view-a-bill.svg", alt: 'Viewabill', width: '180', height: '118') %>
        </a>
        <h3><a href="/clients/case-studies/viewabill">Viewabill</a></h3>
        <p class="case-study__meta">Web and Mobile Application Build</p>
      </article>
      <article class="case-study">
        <a href="/clients/case-studies/aquila-insight">
          <%= image_tag("clients/aquila-insight.svg", alt: 'Aquila Insight', width: '180', height: '118') %>
        </a>
        <h3><a href="/clients/case-studies/aquila-insight">Aquila Insight</a></h3>
        <p class="case-study__meta">Inception, Scoping and Product Guidance</p>
      </article>
    </div>
