<section class="case-studies-wrapper padding-large">
  <div class="max-width">
    <h2>Client Case Studies</h2>
    <div class="case-studies min-width">
      <article class="case-study">
        <a href="#">
          <%= image_tag("clients/money-advice-service.svg", alt: 'Money Advice Service', width: '180', height: '118') %>
        </a>
        <h3><a href="/clients/money-advice-service">Money Advice Service</a></h3>
        <p class="case-study__meta">Outsourced Product Development</p>
      </article>
      <article class="case-study">
        <a href="#">
          <%= image_tag("clients/gov-uk.svg", alt: 'Money Advice Service', width: '180', height: '118') %>
        </a>
        <h3><a href="/clients/gov-uk">GOV.UK e-petitions</a></h3>
        <p class="case-study__meta">Web Application Build</p>
      </article>
      <article class="case-study">
        <a href="/clients/gov-uk">
          <%= image_tag("clients/view-a-bill.svg", alt: 'Viewabill', width: '180', height: '118') %>
        </a>
        <h3><a href="/clients/viewabill">Viewabill</a></h3>
        <p class="case-study__meta">Web and Mobile Application Build</p>
      </article>
    </div>
  </div>
</section>
