<section class="case-studies-wrapper padding-large">
  <div class="max-width">
    <h2>Client Case Studies</h2>
    <div class="case-studies min-width">
      <article class="case-study">
        <a href="#">
          <%= image_tag("clients/money-advice-service.svg", alt: 'Money Advice Service', width: '180', height: '118') %>
        </a>
        <h3><a href="/clients/money-advice-service">Money Advice Service</a></h3>
        <p class="case-study__meta">Long term product support</p>
      </article>
      <article class="case-study">
        <a href="#">
          <%= image_tag("clients/money-advice-service.svg", alt: 'Money Advice Service', width: '180', height: '118') %>
        </a>
        <h3><a href="/clients/money-advice-service">Money Advice Service</a></h3>
        <p class="case-study__meta">Long term product support</p>
      </article>
      <article class="case-study">
        <a href="#">
          <%= image_tag("clients/money-advice-service.svg", alt: 'Money Advice Service', width: '180', height: '118') %>
        </a>
        <h3><a href="/clients/money-advice-service">Money Advice Service</a></h3>
        <p class="case-study__meta">Long term product support</p>
      </article>
    </div>
  </div>
</section>
