    <div class="case-studies min-width">
      <article class="case-study">
        <a href="/clients/case-studies/money-advice-service">
          <%= image_tag("clients/money-advice-service.svg", alt: 'Money Advice Service', width: '180', height: '118') %>
        </a>
        <h3><a href="/clients/case-studies/money-advice-service">Money Advice Service</a></h3>
        <p class="case-study__meta">Outsourced Product Development</p>
      </article>
      <article class="case-study">
        <a href="/clients/case-studies/gov-uk">
          <%= image_tag("clients/gov-uk.svg", alt: 'Money Advice Service', width: '180', height: '118') %>
        </a>
        <h3><a href="/clients/case-studies/gov-uk">GOV.UK e-petitions</a></h3>
        <p class="case-study__meta">Web Application Build</p>
      </article>
      <article class="case-study see-all">
        <a href="/clients/case-studies/">
          <i class="fa fa-briefcase" aria-label="briefcase"></i>
        </a>
        <h3><a href="/clients/case-studies/">More Case Studies &raquo;</a></h3>
      </article>
    </div>
