<div class="row people">
  <div class="column column__third person">
    <%= image_tag 'people/andy.jpg', :width => '35%', :height => '35%' %>
    <h2>Andy</h2>
    <p>As our 'biz-dev' guy, Andy has a great manner and all round knowlegde of our beliefs, practices and processes</p>
    <ul>
      <li><a href="mailto:andy@cultivateHQ.com"><i class="fa fa-envelope"></i><span class="text">andy@cultivateHQ.com</span></a></li>
      <li><a href="tel://+447811614314"><i class="fa fa-mobile"></i><span class="text">+44 (0)781 161 4314</span></a></li>
      <li><a href="skype://andyrob89"><i class="fa fa-skype"></i><span class="text">andyrob89</span></a></li>
    </ul>
  </div>
  <div class="column column__third person">
    <%= image_tag 'people/spencer.jpg', :width => '35%', :height => '35%' %>
    <h2>Spencer</h2>
    <p>Want to talk about UX, design, teams, lean or agile? (He has an opinion on most things) Spencer can help.</p>
    <ul>
      <li><a href="mailto:spencer@cultivateHQ.com"><i class="fa fa-envelope"></i><span class="text">spencer@cultivateHQ.com</span></a></li>
      <li><a href="tel://+447802443407"><i class="fa fa-mobile"></i><span class="text">+44 (0)780 244 3407</span></a></li>
      <li><a href="skype://spencerturner"><i class="fa fa-skype"></i><span class="text">spencerturner</span></a></li>
    </ul>
  </div>
  <div class="column column__third person">
    <%= image_tag 'people/paul.jpg', :width => '35%', :height => '35%' %>
    <h2>Paul</h2>
    <p>If you'd like to talk technical, Ruby, iOS, Elixir, lean or agile, Paul's your man.</p>
    <ul>
      <li><a href="mailto:paul@cultivateHQ.com"><i class="fa fa-envelope"></i><span class="text">paul@cultivateHQ.com</span></a></li>
      <li><a href="tel://+447855841103"><i class="fa fa-mobile"></i><span class="text">+44 (0)785 584 1103</span></a></li>
      <li><a href="skype://merecomplexities"><i class="fa fa-skype"></i><span class="text">merecomplexities</span></a></li>
    </ul>
  </div>
</div>
