<aside class="cta cta--background padding-large" style="background-image:url(/images/cta/cta-ux.jpg);">
  <h2 class="center cta-title">Lean Startup / Lean UX Workshops</h2>
  <div class="columns">
    <div class="min-width">
      <div class="column column--one-half text-left">
        <h3>Hands-on Learning Experience</h3>
        <p>Cultivate offer highly engaging and interactive workshops to introduce your teams to Lean Startup and Lean UX. They are designed for everyone, business or technical. We welcome business stakeholders, product managers, software engineers, designers, and anyone else who participates in the product-development process.</p>
        <p>They combine lecture, practice, and discussion to give teams first-hand experience with Lean Startup and Lean UX techniques. They provide a hands-on learning experience based on company specific projects, allowing teams to understand and apply these principles in a relevant context.
      </div>
      <div class="column column--one-half column--last text-left">
        <h3>Business-Specific Focus</h3>
        <p>Each workshop is customised around a real-world problem that is meaningful to your business. We work with you to prepare an example that provides a good balance of learning opportunity and relevance to the situations your teams face. We will work with you to focus the workshop on an initiative that is relevant to the teams, and allows them to apply these principles to a context they are engaged with.</p>
        <p>Our goal is to enthuse and inspire attendees with techniques they can embrace and ultimately put into practice across the wider organisation.</p>
      </div>
    </div>
  </div>
  <div class="padding">
    <a class="button button--on-dark button--extended" href="#">Book a Workshop</a>
  </div>
</aside>
