<aside class="cta cta--background padding-medium" style="background-image:url(/images/cta/cta-ux.jpg);">
  <div class="padding">
    <a class="button button--on-dark button--extended" href="/contact/">Book a Workshop</a>
  </div>
</aside>
