<section class="cta padding-medium">
  <h4>Looking to start a new project, or improve an existing one?</h4>
  <a class="button button--on-dark button--extended" href="/contact/">Get in touch</a>
</section>
