<aside class="cta cta--background padding-medium" style="background-image:url(/images/cta/cta-ux.jpg);">
  <div class="padding">
    <a class="button button--on-dark button--extended" href="/services/workshops/">Find out about our workshops</a>
  </div>
</aside>
