<section id="work-with-us">
  <div class="wrapper">
    <a class="internal-anchor" name="contact"></a>
    <h1>
      We’re passionate about understanding businesses, ideas and people.
      <strong>Let’s talk.</strong>
    </h1>
  </div>
</section>

<footer>
  <div class="wrapper">
    <div class="vcard">
      <span>
        <a href="mailto:contact@cultivateHQ.com">
          <i class="fa fa-envelope"></i> contact@cultivateHQ.com
        </a>&nbsp;
      </span>
      <span>
        <a href="tel://+448455280757">
          <i class="fa fa-phone"></i> +44 (0)845 528 0757
        </a><br>
      </span>
      <a href="https://www.google.com/maps/place/CodeBase/@55.94626,-3.20157,15z/data=!4m2!3m1!1s0x0:0x5727e05b4321b9f6?hl=en-GB">
        <span class="adr">
          <i class="fa fa-map-marker"></i>
          <span class="street-address">Codebase</span>
          <span class="locality">Argyle House</span>
          <span class="region">Edinburgh</span>
          <span class="postal-code">EH3 9DR</span>
          <span class="country-name">Great Britain</span>
        </span>
      </a>
    </div>
  </div>
</footer>
