<section id="work-with-us">
  <div class="wrapper">
    <a class="internal-anchor" name="contact"></a>
    <h2>
      We’re passionate about understanding businesses, ideas and people.
      <strong>Let’s talk about yours.</strong>
    </h2>

    <div class="row people">
      <div class="column column__third">
        <%= image_tag 'people/andy.jpg', :width => '35%', :height => '35%' %>
        <h2>Andy</h2>
        <p>As our 'biz-dev' guy, Andy has a great manner and all round knowlegde of our beliefs, practices and processes</p>
        <ul class="person">
          <li><a href="mailto:andy@cultivateHQ.com"><i class="fa fa-envelope"></i><span class="text">andy@cultivateHQ.com</span></a></li>
          <li><a href="tel://+447811614314"><i class="fa fa-mobile"></i><span class="text">+44 (0)781 161 4314</span></a></li>
          <li><a href="skype://andyrob89"><i class="fa fa-skype"></i><span class="text">andyrob89</span></a></li>
        </ul>
      </div>
      <div class="column column__third">
        <%= image_tag 'people/spencer.jpg', :width => '35%', :height => '35%' %>
        <h2>Spencer</h2>
        <p>Want to talk about UX, lean or agile? Spencer can help.</p>
        <ul class="person">
          <li><a href="mailto:spencer@cultivateHQ.com"><i class="fa fa-envelope"></i><span class="text">spencer@cultivateHQ.com</span></a></li>
          <li><a href="tel://+447802443407"><i class="fa fa-mobile"></i><span class="text">+44 (0)780 244 3407</span></a></li>
          <li><a href="skype://spencerturner"><i class="fa fa-skype"></i><span class="text">spencerturner</span></a></li>
        </ul>
      </div>
      <div class="column column__third">
        <%= image_tag 'people/paul.jpg', :width => '35%', :height => '35%' %>
        <h2>Paul</h2>
        <p>If you'd like to talk technical, lean or agile, Paul's your man</p>
        <ul class="person">
          <li><a href="mailto:paul@cultivateHQ.com"><i class="fa fa-envelope"></i><span class="text">paul@cultivateHQ.com</span></a></li>
          <li><a href="tel://+447855841103"><i class="fa fa-mobile"></i><span class="text">+44 (0)785 584 1103</span></a></li>
          <li><a href="skype://merecomplexities"><i class="fa fa-skype"></i><span class="text">merecomplexities</span></a></li>
        </ul>
      </div>
    </div>
    <address class="vcard">
      <div class="email column column__half"><h3><a href="mailto:contact@cultivateHQ.com">contact@cultivateHQ.com</a></h3></div>
      <div class="tel column column__half"><h3><a href="tel://+448455280757">+44 (0)845 528 0757</a></h3></div>
    </address>
  </div>
</section>

<footer>
  <div class="wrapper">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.1795417019807!2d-3.2015699999999785!3d55.94626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7991a24de13%3A0x5727e05b4321b9f6!2sCodeBase!5e0!3m2!1sen!2suk!4v1409834909187"
      class="contact-map"
      frameborder="0"></iframe>
    <div class="vcard">
      <span class="adr">
        <span class="org">Cultivate</span>
        <span class="street-address">Codebase</span>
        <span class="locality">Argyle House</span>
        <span class="region">Edinburgh</span>
        <span class="postal-code">EH3 9DR</span>
        <span class="country-name">Great Britain</span>
      </span>
    </div>
  </div>
</footer>
