<section id="work-with-us">
  <div class="wrapper">
    <a class="internal-anchor" name="contact"></a>
    <h2>
      We’re passionate about understanding businesses, ideas and people.
      <strong>Let’s talk about yours.</strong>
    </h2>

    <div class="row people">
      <div class="column column__third">
        <%= image_tag 'people/andy.jpg', :width => '35%', :height => '35%' %>
        <h2>Andy</h2>
        <p>As our 'biz-dev' guy, Andy has a great manner and all round knowlegde of our beliefs, practices and processes</p>
        <ul class="person">
          <li><a href="mailto:andy@cultivateHQ.com"><i class="fa fa-envelope"></i><span class="text">andy@cultivateHQ.com</span></a></li>
          <li><a href="tel://+447811614314"><i class="fa fa-mobile"></i><span class="text">+44 (0)781 161 4314</span></a></li>
          <li><a href="skype://andyrob89"><i class="fa fa-skype"></i><span class="text">andyrob89</span></a></li>
        </ul>
      </div>
      <div class="column column__third">
        <%= image_tag 'people/spencer.jpg', :width => '35%', :height => '35%' %>
        <h2>Spencer</h2>
        <p>Want to talk about UX, design, teams, lean or agile? (and has an opinion on most things) Spencer can help.</p>
        <ul class="person">
          <li><a href="mailto:spencer@cultivateHQ.com"><i class="fa fa-envelope"></i><span class="text">spencer@cultivateHQ.com</span></a></li>
          <li><a href="tel://+447802443407"><i class="fa fa-mobile"></i><span class="text">+44 (0)780 244 3407</span></a></li>
          <li><a href="skype://spencerturner"><i class="fa fa-skype"></i><span class="text">spencerturner</span></a></li>
        </ul>
      </div>
      <div class="column column__third">
        <%= image_tag 'people/paul.jpg', :width => '35%', :height => '35%' %>
        <h2>Paul</h2>
        <p>If you'd like to talk technical, Ruby, iOS, Elixir, lean or agile, Paul's your man.</p>
        <ul class="person">
          <li><a href="mailto:paul@cultivateHQ.com"><i class="fa fa-envelope"></i><span class="text">paul@cultivateHQ.com</span></a></li>
          <li><a href="tel://+447855841103"><i class="fa fa-mobile"></i><span class="text">+44 (0)785 584 1103</span></a></li>
          <li><a href="skype://merecomplexities"><i class="fa fa-skype"></i><span class="text">merecomplexities</span></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="wrapper">
      <div class="vcard">
        <span>
          <a href="mailto:contact@cultivateHQ.com">
            <i class="fa fa-envelope"></i> contact@cultivateHQ.com
          </a>&nbsp;
        </span>
        <span>
          <a href="tel://+448455280757">
            <i class="fa fa-phone"></i> +44 (0)845 528 0757
          </a><br>
        </span>
        <a href="https://www.google.com/maps/place/CodeBase/@55.94626,-3.20157,15z/data=!4m2!3m1!1s0x0:0x5727e05b4321b9f6?hl=en-GB">
          <span class="adr">
            <i class="fa fa-map-marker"></i>
            <span class="street-address">Codebase</span>
            <span class="locality">Argyle House</span>
            <span class="region">Edinburgh</span>
            <span class="postal-code">EH3 9DR</span>
            <span class="country-name">Great Britain</span>
          </span>
        </a>
      </div>
  </div>
</footer>
