<footer>
  <div class="vcard">
    <span class="adr">
      <span class="org">Cultivate</span>
      <span class="street-address">Codebase</span>,
      <span class="locality">Argyle House</span>,
      <span class="region">Edinburgh</span>
      <span class="postal-code">EH3 9DR</span>
      <span class="country-name">Great Britain</span>
    </span>
  </div>
</footer>
