<section class="cta cta--transparent cta-inline padding">
  <h4>Looking to start a new project, or improve an existing one?</h4>
  <a class="button button--extended" href="/contact/">Get in touch</a>
</section>
