<%= partial "partials/gtm_code" %>
<%= partial "partials/svg_sprites" %>
<div id="page">
  <header id="masthead" class="padding">
    <div class="max-width masthead--inner">
      <a id="site-logo" href="/"><%= image_tag "svg/logo-white.svg", alt: "Cultivate logo", width: "114", height: "26" %></a>
      <a id="menu-button">
        <i class="fa fa-bars"></i>
        menu
      </a>
    </div>
  </header>
