<section id="cultivate-history">
  <div class="wrapper">
    <a class="internal-anchor" name="our-history"></a>
    <h1>Our History</h1>
    <%= image_tag("history-line.png") %>
    <p>Cultivate’s team is born from a common belief in fundamentally changing the way software consultancy is delivered. Previously Edgecase UK, the team were acquired to form the UK office of Neo (www.neo.com), a global product development studio.</p>
    <p>Neo brought together some of the best engineering and design consultancies to deliver Lean and Agile services to clients around the world. Neo still operates under the brand name in the US and Singapore.</p>
    <p>Cultivate will continue to focus on the UK market and deliver world-class engineering, design and business strategy. We continue to work with Neo, where there is a good fit.</p>
    <h3 class="table-legend">Previous clients include:</h3>
    <table class="clients" border="0" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <td>Emerge Adapt</td>
        <td>General Electric</td>
        <td>Gov.uk</td>
      </tr>
      <tr>
        <td>Housetrip</td>
        <td>JP Morgan</td>
        <td>Ministry of Manpower</td>
      </tr>
      <tr>
        <td>Money Advice Service</td>
        <td>Scottish Enterprise</td>
        <td>Secret Earth</td>
      </tr>
      <tr>
        <td>Turnstone</td>
        <td>Viewabill</td>
      </tr>
      </tbody>
    </table>
  </div>
  <p>
</section>
