<section class="services-block services-block--home padding-large">
  <h2>Our core services</h2>
  <%= link_to 'Product Development', '/services/product-development/', class: 'services-link' %>
  <%= link_to 'Software Development', '/services/software-development/', class: 'services-link' %>
  <%= link_to 'User Experience', '/services/user-experience/', class: 'services-link' %>
</section>
