  <div class="services-links max-width">
    <%= partial "partials/service_links/elixir" %>
    <%= partial "partials/service_links/rails" %>
    <%= partial "partials/service_links/ruby" %>
  </div>
  <div class="services-links max-width">
    <%= partial "partials/service_links/workshops" %>
  </div>
