<section class="services-block services-block--home padding-large">
  <h2>Our core services</h2>
  <a class="services-link services-link--product" href="/services/product-development/">
    <svg class="icon-product">
      <use xlink:href="#icon-product"></use>
    </svg>
    <h4>Product Development</h4>
  </a>
  <a class="services-link services-link--software" href="/services/software-development/">
    <svg class="icon-software">
      <use xlink:href="#icon-software"></use>
    </svg>
    <h4>Software Development</h4>
  </a>
  <a class="services-link services-link--ux" href="/services/user-experience/">
    <svg class="icon-ux">
      <use xlink:href="#icon-ux"></use>
    </svg>
    <h4>User Experience</h4>
  </a>
</section>
