  <div class="services-links max-width">
    <%= partial "partials/service_links/elixir" %>
    <%= partial "partials/service_links/ruby" %>
    <%= partial "partials/service_links/clients" %>
  </div>
