  <div class="services-links max-width">  
    <%= partial "partials/service_links/product_development" %>
    <%= partial "partials/service_links/software_development" %>
    <%= partial "partials/service_links/clients" %>
  </div>
