  <div class="services-links max-width">
    <a class="services-link services-link--software" href="/services/software-development/">
      <div class="services-link__icon">
        <svg class="icon-software" width="177" height="103.4">
          <use xlink:href="#icon-software"></use>
        </svg>
      </div>
      <h4>Software Development</h4>
    </a>
    <a class="services-link services-link--ux" href="/services/user-experience/">
      <div class="services-link__icon">
        <svg class="icon-ux" width="121" height="90.6">
          <use xlink:href="#icon-ux"></use>
        </svg>
      </div>
      <h4>User Experience</h4>
    </a>
    <a class="services-link services-link--clients" href="/clients/">
      <div class="services-link__icon">
        <svg class="icon-clients" width="121" height="90.6">
          <use xlink:href="#clients"></use>
        </svg>
      </div>
      <h4>Our Clients</h4>
    </a>
  </div>
