<ul class="social-share">
	<li>
		<a target="blank" title="<?php echo urlencode( get_the_title() ); ?>" href="https://twitter.com/share?text=<?php echo urlencode( get_the_title() ); ?>%20-%20&amp;url=<?php esc_url( the_permalink() ); ?><?php echo esc_attr( $twitterVia ); ?>" onclick="window.open('https://twitter.com/share?text=<?php echo urlencode( get_the_title() ); ?>%20-%20&amp;url=<?php esc_url( the_permalink() ); ?><?php echo esc_attr( $twitterVia ); ?>','twitter','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;" class="twitter">
			<i class="fa fa-twitter"></i><span class="i">Twitter</span>
		</a>
	</li>
	<li>
		<a onclick="window.open('https://plus.google.com/share?url=<?php esc_url( the_permalink() ); ?>','gplusshare','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;" href="https://plus.google.com/share?url=<?php esc_url( the_permalink() ); ?>" class=" googleplus offblack">
			<i class="fa fa-google-plus"></i><span class="i">Google+</span>
		</a>
	</li>
	<li>
		<a target="blank" title="<?php echo urlencode( get_the_title() ); ?>" href="http://www.facebook.com/share.php?u=<?php esc_url( the_permalink() ); ?>" onclick="window.open('http://www.facebook.com/share.php?u=<?php esc_url( the_permalink() ); ?>','facebook','width=450,height=300,left='+(screen.availWidth/2-375)+',top='+(screen.availHeight/2-150)+'');return false;" class=" facebook ">
			<i class="fa fa-facebook"></i><span class="i">Facebook</span>
		</a>
	</li>
	<li>
		<a href="http://pinterest.com/pin/create/button/?url=<?php esc_url( the_permalink() ); ?>&amp;media=<?php echo esc_url( $image_single[0] ); ?>&amp;description=<?php echo urlencode( get_the_title() ); ?>" target="_blank" class=" pinterest offblack">
			<i class="fa fa-pinterest"></i><span class="i">Pinterest</span>
		</a>
	</li>
</ul>
