---
title: "Jobs"
subtitle: "Join our team"
---

<article class="page-content min-width padding-large">
	<h2>Software Developer</h2>
	<p>To apply email <a href="mailto:careers@cultivatehq.com">careers@cultivatehq.com</a> and tell us a bit about you.</p>

	<h3>The Job</h3>
	<p>Are you a senior developer who wants to join a friendly team who care deeply about the quality of their work? If so, then we would love you to <a href="mailto:careers@cultivatehq.com">get in touch</a>.</p>
	<p>The majority of our current projects are in Ruby on Rails and so experience with Rails, at any level, is necessary for this position.</p>

	<h4>Here are some pointers on the kind of things we look for.</h4>
	<ul>
		<li>Developers who want the applications they build to be the right ones for their clients.</li>
		<li>A strong desire to do test driven development and pair programming.</li>
		<li>Very good communication skills; our developers work closely with clients and users.</li>
		<li>You should live in, or want to relocate to, Edinburgh.</li>
		<li>Well-rounded developers (polyglot, web, mobile) who are comfortable in the full stack.</li>
		<li>Know at least one programming language very well and can pick up new languages quickly.</li>
		<li>Experience with Ruby on Rails.</li>
		<li>Experience with or an interest in the following are a nice plus:

			<ul>
				<li>iOS development</li>
				<li>Functional languages, particularly Elixir and Erlang</li>
				<li>Front-end web development</li>
				<li>User experience</li>
				<li>User interface design</li>
				<li>Visual design</li>
				</ul>
		</li>
		<li>Experience participating in open source projects and showing code samples would be helpful</li>
	</ul>

	<p>We don’t expect you to tick all of those boxes. If you tick some and you would like to work with us, send us a nice email. We can teach the technical stuff if you have the passion to learn.</p>

	<h3>The process</h3>
	<p>Here is a little about our recruitment process. There are 3 steps.</p>

	<h4>Initial chat</h4>
	<p>This can be in person or over the phone/Skype. It helps us get an initial impression of you and, as importantly, you to get an impression of us. If we decide that we’re both interested in finding out more, then we move on to the next stage.</p>

	<h4>Coding challenge</h4>
	<p>We will send you some web-based development coding exercises. You choose one and implement it. We will expect it to have passing tests, be runnable, and have readable code.</p>

	<h4>Pair programming day</h4>
	<p>The final stage is pair programming with our developers at our Edinburgh office. Recruitment is a whole-team decision at Cultivate, and we find this the best way to get to know you.</p>

	<h3>Equal-opportunities</h3>
	<p>We are an equal opportunities employer and value diversity at our company. We do not discriminate on the basis of race, religion, colour, national origin, gender, gender identity, sexual orientation, age, marital status, or disability status.</p>

	<h3>Salary range</h3>
	<p>Indicative salary range:  £30,000 to £48,000 (depends on experience).</p>
</article>
