---
title: "Jobs"
subtitle: "Experienced Software Developer"
---
<style>
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Satisfy|Pangolin');

#job-ad {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 20px;
}

.our-values {
  border: 1px solid #DDD; 
	padding: 20px;
	margin: 0 0 20px 0;
}

.our-values h1 {
  font-family: 'Satisfy', cursive;
}

.our-values h2 {
	font-family: 'Amatic SC', cursive;
}

.our-values p {
	font-family: 'Pangolin', cursive;
}

</style>
<h1>Experienced Software Developer</h1>
<section id="job-ad" class="page-content min-width padding-large">
	<div class="job-content">
		<div class="main-content">
			<p>
			We are looking for an experienced software developer with an interest in every aspect of software development, including the web stack and beyond.
			</p>
			<p>
			To apply send your CV and a covering letter to <a href="careers@cultivatehq.com">careers@cultivatehq.com</a>
			</p>

			<h3>About Cultivate</h3>
			<p>We surpass expectations for technical excellence using empathy, honesty and collaboration to deliver the right solutions for our clients.</p>
			<p>We work closely both internally and with client teams to solve fun and challenging problems, whilst producing high quality code that is simple and maintainable.</p>
			<p>Our work is as rich and varied as our clients with new things to learn every day. Some of our [clients](/clients/) have included Deliveroo, Money Advice Service, The North Face and JP Morgan.</p>

			<h3>
				The Job
			</h3>

			<h4>On a day to day basis you will be:</h4>
			<ul>
				<li>Collaborating with other engineers to share knowledge and solve problems</li>
				<li>Mentoring and supporting others in your areas of expertise</li>
				<li>Working on client projects to build new features and fix problems, either on brand new projects or existing systems</li>
				<li>Contributing to internal processes and systems to improve the way we work</li>
				<li>Interacting with testers, managers, user experience designers and other stakeholders</li>
			</ul>

			<h4>Our Tech Stack</h4>
			<p>Our work is still predominantly in Ruby (Rails), but we use Elixir on a number of projects and are actively looking for opportunities to do more. We also work with, or are interested in, many other languages including Rust, Go, Scala, and Swift. On the front-end we've been favouring React.</p>
			<p>Where relevant and as much as possible we practice test driven development, code reviews and pair programming.</p>

			<h3>
				About You
			</h3>

			<p>
			Ideally we’d like you to:
			</p>
			<ul>
				<li>Be curious, empathetic and have a strong desire to continually improve</li>
				<li>Have a strong grounding in the programming fundamentals that transcend a given language</li>
				<li>Previous experience delivering projects in Ruby / Rails (or similar)</li>
				<li>Be comfortable working collaboratively on problems</li>
				<li>Be confident using Git / source control</li>
				<li>Enjoy mentoring others and and have the ability/desire to inspire a learning/developing mindset in others</li>
				<li>Be comfortable with automated testing and Test Driven Development</li>
				<li>Have the confidence to offer well formed technical advice / guidance coupled with the humility to listen to others</li>
			</ul>

			<p>Other things we’d like but are not essential:</p>
			<ul>
				<li>Experience building microservices with event sourcing and breaking monoliths apart</li>
				<li>Experience in Elixir / Go / Rust / Scala</li>
			</ul>

			<p>
			You will need to have the right to work in the UK.
			</p>

			<h3>
				The process
			</h3>
			<p>
			Our interviews are designed to showcase your ability to think through problems, write code to a high standard and work with other members of the team. A large part of your time will be spent pairing with other members of the team, so it's essential that you are comfortable with this way of working and that you get to meet members of the team to see if we are a good fit for each other.
			</p>

			<h4>
				Initial pairing
			</h4>
			<p>
			You will meet a member of the team for a short chat to answer any questions you may have, then work on a small problem usually in Ruby. This can be in person or remotely using screen sharing.
			</p>

			<h4>
				Pair programming half-day
			</h4>
			<p>
			The final stage is pair programming with our developers and designers at the Edinburgh office. Recruitment is a whole-team decision at Cultivate, and we find this an effective way to get to know you and let you get to know us.
			</p>
		</div>
		<div class="apply">
			APPLY
		</div>
	</div>
	<div class="values-and-benefits">
		<div class="our-values">
			<h1>Our Values</h1>
			<h2>Empathy and Respect</h2>
			<p>
				We are considerate, inclusive empathetic and respectful in all aspects
			</p>
			<h2>Quality</h2>
			<p>
			We always do the best job possible given the situation and constraints at hand.
			</p>
			<h2>Professionalism</h2>
			<p>
			We always behave in a manner that represents us as professionals.
			</p>
			<h2>Honesty</h2>
			<p>
			We have the courage to be honest, even when it's hard, and transparent even if that seems scary.
			</p>
			<h2>Collaboration and Shared Ownership</h2>
			<p>
			We work together, communicate clearly and solve problems as a team.
			</p>
			<h2>Sustainability</h2>
			<p>
			We value and are mindful of sustainability in all aspects as a business, personally and in 'giving back'
			</p>
		</div>
		<div class="the-benefits">
			<h2>
				Benefits
			</h2>
			<ul>
				<li>A focus on work life balance and keeping people happy and healthy.</li>
				<li>Flexible working arrangements where appropriate (including remote)</li>
				<li>An annual conference budget</li>
				<li>Profit share scheme (in which employees share 20% of the profits, twice a year).</li>
				<li>5% pension contribution</li>
				<li>A Macbook Pro and an iPhone.</li>
			</ul>
		</div>
		<div class="equal-opportunities-employer">
			<h2> Equal Opportunities Employer</h2>
			<p>
			We are an equal opportunities employer and value diversity at our company. We do not discriminate on the basis of race, religion, colour, national origin, gender, gender identity, sexual orientation, age, marital status, or disability status.
			</p>
		</div>
	</div>
</section>
