---
title: Contact
---


<article class="page-content min-width padding-large">
  <div class="contact-form-wrapper">
    <h2>Say Hello</h2>
    <div class="contact-form">
      <form action="https://formspree.io/contact@cultivatehq.com" method="POST">
        <input type="hidden" name="_subject" value="New Website Contact" />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="//cultivatehq.com/contact/thanks" />
        <div class="contact-form--row">
          <label class="contact-form--label" for="name">Your Name</label>
          <input class="contact-form--input" type="text" name="name">
        </div>
        <div class="contact-form--row">
          <label class="contact-form--label" for="email">Your Email Address</label>
          <input class="contact-form--input" type="email" name="_replyto">
        </div>
        <div class="contact-form--row">
          <label class="contact-form--label" for="email">Your Message</label>
          <textarea class="contact-form--input" type="message" name="message"></textarea>
        </div>
        <div class="contact-form--row contact-form--submit">
          <button name="submit" type="submit" class="button button--small">send</button>
        </div>
      </form>
    </div>
  </div>
  <div class="shout-out">
    <p>
    <span class="contact-method">
      <a href="mailto:contact@cultivateHQ.com"><i class="fa fa-envelope" aria-label="Email"></i> contact@cultivateHQ.com</a>
    </span>
    <span class="contact-method" itemprop="telephone">
      <a href="tel:+448455280757">
        <i class="fa fa-phone" aria-label="Phone"></i> 0845 528 0757
      </a>
    </span>
    <span class="contact-method">
      <a href="http://twitter.com/cultivatehq"><i class="fa fa-twitter" aria-label="Twitter"></i> cultivatehq</a>
    </span>
    </p>
    <p>
      <span class="adr">
      <span class="name">Cultivate Software</span>,
      <span class="street-address">CodeBase</span>,
      <span class="locality">Argyle House</span>,
      <span class="region">Edinburgh</span>,
      <span class="postal-code">EH3 9DR</span>
      </span>
    </p>
  </div>

</article>

<%= partial "partials/contact_map" %>
