---
title: Contact
---

<!-- Google Code for Contact form submission Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 876526636;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "pt_-CN2juWsQrPj6oQM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript"
  src="//www.googleadservices.com/pagead/conversion_async.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/876526636/?label=pt_-CN2juWsQrPj6oQM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Google Code for Email address click Conversion Page. Call goog_report_conversion when someone clicks on the chosen link or button. -->
<script type="text/javascript">
  /* <![CDATA[ */
  goog_snippet_vars = function() {
    var w = window;
    w.google_conversion_id = 876526636;
    w.google_conversion_label = "QobdCKu6vmsQrPj6oQM";
    w.google_remarketing_only = false;
  }
  // DO NOT CHANGE THE CODE BELOW.
  goog_report_conversion = function(url) {
    goog_snippet_vars();
    window.google_conversion_format = "3";
    var opt = new Object();
    opt.onload_callback = function() {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  }
  var conv_handler = window['google_trackConversion'];
  if (typeof(conv_handler) == 'function') {
    conv_handler(opt);
  }
}
/* ]]> */
</script>
<script type="text/javascript"
  src="//www.googleadservices.com/pagead/conversion_async.js">
</script>

<article class="page-content min-width padding-large">
  <div class="contact-form-wrapper">
    <h2>Say Hello</h2>
    <div class="contact-form">
      <form action="https://formspree.io/contact@cultivatehq.com" method="POST">
        <input type="hidden" name="_subject" value="New Website Contact" />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="http://cultivatehq.com/contact/thanks" />
        <input type="hidden" name="_format" value="plain" />
        <div class="contact-form--row">
          <label class="contact-form--label" for="name">Your Name</label>
          <input class="contact-form--input" type="text" name="name">
        </div>
        <div class="contact-form--row">
          <label class="contact-form--label" for="email">Your Email Address</label>
          <input class="contact-form--input" type="email" name="_replyto">
        </div>
        <div li class="contact-form--row">
          <label class="contact-form--label" for="email">Your Message</label>
          <textarea class="contact-form--input" type="message" name="message"></textarea>
        </div>
        <div class="contact-form--row contact-form--submit">
          <button name="submit" type="submit" class="button button--small">send</button>
        </div>
      </form>
    </div>
  <div class="shout-out">
    <p>
    <span class="contact-method">
      <a onclick="goog_report_conversion ('mailto:contact@cultivatehq.com')" href="mailto:contact@cultivateHQ.com" ><i class="fa fa-envelope" aria-label="Email"></i> contact@cultivateHQ.com</a>
    </span>
    <span class="contact-method" itemprop="telephone">
      <a href="tel:+448455280757">
        <i class="fa fa-phone" aria-label="Phone"></i> 0845 528 0757
      </a>
    </span>
    <span class="contact-method">
      <a href="http://twitter.com/cultivatehq"><i class="fa fa-twitter" aria-label="Twitter"></i> cultivatehq</a>
    </span>
    </p>
    <p>
      <span class="adr">
      <span class="name">Cultivate Software</span>,
      <span class="street-address">CodeBase</span>,
      <span class="locality">Argyle House</span>,
      <span class="region">Edinburgh</span>,
      <span class="postal-code">EH3 9DR</span>
      </span>
    </p>
  </div>

</article>

<%= partial "partials/contact_map" %>
