---
title: "Case Studies"
---
<section class="case-studies-wrapper padding-large">
  <div class="max-width">
    <%= partial "partials/case_studies" %>
  </div>
</section>
<%= partial "partials/cta" %>
