---
title: "Aquila Insight"
---

<section>
  <div class="content-column">
    <div class="case-study">
      <p>
        Helping a successful consultancy become a software company.
      </p>

      <p>
        Aquila Insight is a data analytics consultancy that works with some of the UK’s biggest brands, helping
        them to make evidenced-based decisions from their data.
      </p>

      <h2>Services to Products</h2>
      <p>
        Having built a successful consultancy, Aquila Insight were looking to take their depth of industry knowledge
        and create a complementary software platform. The platform would enable them to scale their offering, whilst
        offering their end users a number of unique and valuable features that complemented their consultancy offering.
      </p>
      <p>
        Cultivate were engaged to address the gap between business and technology, and help the Aquila Insight team
        with the transition to becoming a technology company.
      </p>

      <h2>Understanding the Business Environment</h2>
      <p>
        Cultivate partnered with Aquila Insight to gain an understanding of their existing business practices, competitive
        environment and key stakeholders involved in making their product a success. Using a range of exercises, our team
        built a mutual understanding of the business environment and existing process, identifying areas where software
        could help achieve their business goals.
      </p>
      <h2>Defining Success and Planning to Achieve It</h2>
      <p>
        Understanding and defining success is of paramount importance in any software project.
      </p>
      <p>
        Having developed a clear understanding,  we partnered with the Aquila team to identify and prioritise the features
        that we believed would deliver the greatest value to their end users and achieve business success.
      </p>
      <p>
        We walked the team through the creation of a story map. By defining the main functional areas, and the individual
        features within these we were able to group the features that we deemed most valuable into prioritised and estimated
        releases, developing an initial plan for delivering that success.
      </p>
      <p>
        This exercise gave the team an understanding of the platform as a whole and enabled balanced and incremental
        development of the final solution. It also communicated the effort and associated cost for each area of functionality,
         and allowed the development roadmap to be prioritised and adjusted over time.
      </p>
      <h2>Future Direction</h2>
      <p>
        Cultivate provided guidance on the development approach for Aquila’s product, including team makeup, recommended
        development practices and advice on how to transition to an in-house team.
      </p>
      <p>
        Aquila Insight are now the UK’s fastest growing data analytics company, rapidly expanding their operations and
        supporting a number of leading brands including Sony, The Co-operative Bank, Tesco Bank and Office Depot.
      </p>
    </div>
  </div>
  <div class="sidebar-column">
    <div class="testimonial">
      <%= image_tag 'clients/nick_jones.jpg', alt: 'Photograph of Nick Jones' %>
      <p>
        Working with Cultivate played a key role in the early stages our product development journey.
      </p>
        They helped bridge the gap between business and technology, working with us to build consensus around
        our unique business environment before jumping into feature delivery. This was hugely valuable in helping
        us to focus and prioritise our development efforts.
      </p>
      <p>
        I would highly recommend the services provided by Cultivate.
      </p>

      <p class="attribution">
        Nick Jones, Investor and Non-Executive Director, Aquila Insight
      </p>
    <div>
  </div>
</section>
