---
title: "Gov UK - E-petitions"
---

<section>
  <div class="content-column">
    <div class="case-study">
      <p>
      e-petitions allows members of the public to create and sign petitions online. These are picked up by the Government,
      and petitions with over 100,000 signatures are often debated in the House of Commons.
      </p>

      <p>
        Cultivate (at the time Edgecase) worked as part of the Agile Delivery Network to deliver this project on time and on budget,
      </p>

      <p>
        It has been used extensively throughout its history and has lead to substantial cost savings for the Government.
      </p>

    </div>
  </div>
  <div class="sidebar-column">
    <%= image_tag("case-studies/epetitions.jpg", alt: 'Screenshot of e-petitions') %>
  </div>
</section>

