---
title: "HouseTrip"
---

<section>
  <div class="content-column">
    <div class="case-study">
      <p>
        HouseTrip is an online holiday rental marketplace that allows homeowners and holiday rental managers to list and rent out their properties to guests. It was recently named one of the top 50 travel websites by The Times.
      </p>

      <p>
        Cultivate partnered with Housetrip on a 4-month development engagement, upgrading a large, monolithic platform from Ruby 1.8 to Ruby 1.9.
      </p>

      <%= image_tag("case-studies/housetrip3.jpg", alt: 'Screenshot from HouseTrip.com') %>
      <div class="row">
        <div class="column column__half">
          <%= image_tag("case-studies/housetrip1.jpg", alt: 'Screenshot from HouseTrip.com') %>
        </div>
        <div class="column column__half">
          <%= image_tag("case-studies/housetrip2.jpg", alt: 'Screenshot from HouseTrip.com') %>
        </div>
      </div>
      <p>
        Three of our senior engineers were embedded within their existing development team and contributed to all stages of the project including planning, execution and delivery.
      </p>
    </div>
  </div>
  <div class="sidebar-column">
    <div class="testimonial">
      <img src="https://media.licdn.com/mpr/mpr/shrink_240_240/p/5/005/015/304/1580c92.jpg" alt="Photograph of Julian Letessier">
      <p>
        Where most consultancies expect specs to be thrown over the fence, the Cultivate engineers truly became part of our team.
      </p>
      <p>
        The collaboration with Cultivate was instrumental in building a culture of remote collaboration which we expanded across our whole engineering team.
      </p>
      <p>
        The project was a success, and we came out with a better team then when we started!
      </p>

      <p class="attribution">
        Julian Letessier, VP of Technology, HouseTrip
      </p>
    <div>
  </div>
</section>

