---
title: "Housetrip"
---

<section>
  <div class="content-column">
    <div class="case-study">
      <p>
      HouseTrip is an online holiday rental marketplace that allows homeowners and holiday rental managers to list and rent out their properties to guests. It was recently named one of the top 50 travel websites by The Times. 
      </p>

      <p>
      As part of Neo, Cultivate partnered with Housetrip on a 3-month development engagement, embedding our engineers within their existing teams.
      </p>

      <%= image_tag("case-studies/housetrip3.jpg") %>
      <p>
      Our experienced team collaborated with members of Housetrip to share our process and embed Agile development best practice. Since working with Cultivate, Housetrip have internalised many of the practices, helping them continue their rapid growth.
      </p>
    </div>
  </div>
  <div class="sidebar-column">
    <%= image_tag("case-studies/housetrip1.jpg") %>
    <%= image_tag("case-studies/housetrip2.jpg") %>
  </div>
</section>

