---
title: "Turnstone"
---

<section>
  <div class="content-column">
    <div class="case-study">
      <p> MyDesigner is a tool designed to make the process of designing an office space as
      simple as possible.
      </p>
      <p>As part of Neo, Cultivate partnered with Turnstone to create their MyDesigner iOS and web application. We focused on understanding Turnstone’s process, customers and internal teams to create a product that integrated both on and offline touch points in the sales process.
      </p>
      <%= image_tag("case-studies/turnstone3up.jpg") %>
      <p> Users send photographs and specifications of their office space to Turnstone’s designers, who collaboratively create a range of bespoke designs based on the assigned space and budget. MyDesigner also allows customers to track the entire process from start to finish and integrated with a number of back-office tools including Hubspot, Salesforce and Google Calendar.
      </p>
    </div>
  </div>
  <div class="sidebar-column">
    <%= image_tag("case-studies/turnstone1.jpg") %>
  </div>
</section>

