---
title: "Turnstone"
---

<section>
  <div class="content-column">
    <div class="case-study">
      <div class="logo">
        <%= image_tag("clients/turnstone.svg") %>
      </div>
      <p> MyDesigner is a tool designed to make the process of designing an office space as
      simple as possible.
      </p>
      <p> Cultivate partnered with Turnstone to create their MyDesigner iOS and web application.
      We focused on understanding Turnstone’s process, customers and internal teams to
      create a product that integrated both on and offline touch points in the sales process.
      </p>
      <p> Users send photographs and specifications of their office space to Turnstone’s designers,
      who collaboratively create a range of bespoke designs based on the assigned space and
      budget. MyDesigner also allows customers to track the entire process from start to finish
      and integrated with many of Turnstone’s internal tools including Google Docs and
      QuickBooks.
      </p>
    </div>
  </div>
  <div class="sidebar-column">
    <%= image_tag("case-studies/turnstone1.jpg") %>
    <%= image_tag("case-studies/turnstone3.jpg") %>
  </div>
</section>

