.callout {
  padding: 30px;
  background: $offwhite;
  border: 1px solid $grey_mid_brand;
  font-weight: 700;
  color: $grey_dark;
}

.highlight {
  display: block;
  padding: 0.2em 1em;
  margin: 1em auto;
  color: #faf6e4;
  background-color: #122b3b;
}

.widget {
  background: $offwhite;
  padding: 40px 20px;
  text-align: center;
  + .widget {
    margin-top: 20px;
  }
}

.layout-two-column {
  @include em-min-width($breakpoint_small_desktop) {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}

.layout-two-column__left {
  @include em-min-width($breakpoint_small_desktop) {
    display: table-cell;
    width: 40%;
    vertical-align: top;
  }
}

.layout-two-column__right {
  margin-top: -50px;
  padding-bottom: 60px;
  @include em-min-width($breakpoint_small_desktop) {
    margin-top: 0;
    padding-top: 110px;
    padding-left: 50px;
    display: table-cell;
    width: 22%;
    vertical-align: top;
  }
}

.blog-post {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $grey_default_half;
}

.meta {
  margin-top: 6px;
  color: $grey_default_half;
}

// Page Specific hacks
.posts_lean-ux-speak-simply-teach-gently-and-derisk-the-process_index .page-content--blog-post, .posts_lean-ux-in-the-enterprise-is-hard_index .page-content--blog-post {
  img {
    @include em-min-width($breakpoint_tablet) {
      margin-top: 2em;
      width: 50%;
    }
  }

  table { 
    margin-bottom: 2em;
  }

  td, th { 
    border: 1px solid #DDD;
    vertical-align: middle;
    padding: 0.25em;
    @include em-min-width($breakpoint_tablet) {
      padding: 0.5em 1em;
    }

    p:last-child { margin-bottom: 0;}
    ul {
        padding-bottom: 0;
        -webkit-margin-after: 0;
          li {
            padding-left: 1em;
          }
      }
  }

  th { padding: 1em;}
}
