#map {
  min-height: 300px;
  height: 300px;
  @include em-min-width($breakpoint_tablet) {
    height: 600px;
  }
  @include em-min-width($breakpoint_small_desktop) {
    height: 750px;
  }
  @include em-min-width($breakpoint_medium_desktop) {
    height: 850px;
  }
}


.contact-method {
  display: block;
  @include em-min-width($breakpoint_tablet) {
    display: inline;
  }
}
.contact-method::after {
  @include em-min-width($breakpoint_tablet) {
    content: " \2003 |  \2003"
  }
}

.contact-method:last-of-type::after {
   content: "";
}
