#map {
  min-height: 300px;
  height: 300px;
  @include em-min-width($breakpoint_tablet) {
    height: 600px;
  }
  @include em-min-width($breakpoint_small_desktop) {
    height: 750px;
  }
  @include em-min-width($breakpoint_medium_desktop) {
    height: 850px;
  }
}
