---
title: "Build your own Elixir powered robot"
subtitle: "Lego, Raspberry Pi, Elixir and Nerves"
---

<article>
  <section class="row padding-large">
    <div class="case-studies min-width">
      <article class="case-study see-all">
        <h3><a href="https://github.com/CultivateHQ/cultivatarmobile">Cultivatar on Github</a></h3>
        <p class="case-study__meta">Realtime opinion tracking in Elixir</p>
        <a href="/clients/case-studies/">
          <i class="fa fa-github" aria-label="github"></i>
        </a>
      </article>
      <article class="case-study see-all">
        <h3><a href="/clients/case-studies/">More Case Studies &raquo;</a></h3>
        <p class="case-study__meta">Realtime opinion tracking in Elixir</p>
        <a href="/clients/case-studies/">
          <i class="fa fa-amazon" aria-label="amazon"></i>
        </a>
      </article>
      <article class="case-study see-all">
        <h3><a href="/clients/case-studies/">Blog Post</a></h3>
        <p class="case-study__meta">Realtime opinion tracking in Elixir</p>
        <a href="/clients/case-studies/">
          <i class="fa fa-pencil-square-o " aria-label="blog post"></i>
        </a>
      </article>
    </div>
  </section>

  <section class="row row--light padding-medium">
    <div class="min-width">
      <%= image_tag "robot/robot.svg", alt: "Robot Illustration", width: "100%" %>
    </div>
  </section>
</article>
<%= partial "partials/cta" %>
