---
title: "Build your own Elixir powered robot"
subtitle: "Lego, Raspberry Pi, Elixir and Nerves"
---

<article>
  <section class="row row-light padding-medium">
    <div class="min-width">
      <p>The Cultivate Robot, aka The Cultivatarmobile, is a fun project to get started in developing hardware applications using Nerves - the embedded Elixir project. The project gives you a small buggy, powered by two (admittedly slow) Stepper motors which can be controlled directly over a web interface or via Slack.</p>
    </div>
  </section>
  <section class="row padding-small">
    <div class="case-studies min-width">
      <article class="case-study see-all">
        <a href="https://github.com/CultivateHQ/cultivatarmobile">
          <i class="fa fa-github" aria-label="github"></i>
        </a>
        <h3><a href="https://github.com/CultivateHQ/cultivatarmobile">Cultivatar on Github</a></h3>
      </article>
      <article class="case-study see-all">
        <a href="http://amazon.com">
          <i class="fa fa-amazon" aria-label="amazon"></i>
        </a>
        <h3><a href="http://amazon.com">Parts list on Amazon(.com)</a></h3>
      </article>
      <article class="case-study see-all">
        <i class="fa fa-pencil" aria-label="blog post"></i>
        <h3>Blog Post coming soon</h3>
      </article>
    </div>
  </section>

  <section class="row row--light padding-medium">
    <div class="min-width">
      <%= image_tag "robot/robot.svg", alt: "Robot Illustration", width: "100%" %>
    </div>
  </section>
</article>
<%= partial "partials/cta" %>
