---
title: Welcome to Cultivate
---

<section id="what-we-do">
  <div class="wrapper">
    <h1><a class="internal-anchor" name="what-we-do"></a>
      Making great software is more than just great code.
    </h1>
    <h2>
        Our cross-discipline teams speak to customers, prototype, design, learn quickly to get you the right solution, fast.
    </h2>
    <div class="service-highlight">
      <h3>Rapid Prototyping and Customer Development</h3>
      <p>Learn what your customers want – The world doesn't need more products, it needs better products. Using lean startup methodologies we learn and measure progress in discovering what your customers want, and more importantly, what they don't.</p>
    </div>
    <div class="row">
      <div class="column column__third">
        <h3>Build and test</h3>
        <p>We partner with clients to deliver world-class products through deep expertise in engineering, design and product management.</p>
      </div>
      <div class="column column__third">
        <h3>Consultation</h3>
        <p>Level-up your teams, boost performance and instil best practice in Lean, Agile, TDD, BDD or Lean UX</p>
      </div>
      <div class="column column__third">
        <h3>Education</h3>
        <p>Customised workshops around Ruby, Lean &amp; Agile, UX/Design, and other technical processes.</p>
      </div>
    </div>
    <div class="call-to-action">
      <p>To find out how we can help. Start a conversation today.
      <button class='btn center large'>
        <%= link_to "Let's talk! &raquo;", '/#contact', class: 'internal-link' %>
      </button>
      </p>
    </div>
  </div>
</section>

<section id="cultivate-history">
  <div class="wrapper">
    <a class="internal-anchor" name="our-history"></a>
    <h1>Our History</h1>
    <%= image_tag("history-line.png") %>
    <p>Cultivate’s team is born from a common belief in fundamentally changing the way software consultancy is delivered. Previously Edgecase UK, the team were acquired to form the UK office of Neo (www.neo.com), a global product development studio.</p>
    <p>Neo brought together some of the best engineering and design consultancies to deliver Lean and Agile services to clients around the world.</p>
    <p>While Neo still operates under the brand name in the US and Singapore, Cultivate was born to focus on the UK market and continue to deliver world-class engineering, design and business strategy.</p>
    <h3 class="table-legend">Previous clients include:</h3>
    <table class="clients" border="0" cellpadding="0" cellspacing="0">
      <tbody>
      <tr>
        <td>Emerge Adapt</td>
        <td>General Electric</td>
        <td>Gov.uk</td>
      </tr>
      <tr>
        <td>Housetrip</td>
        <td>JP Morgan</td>
        <td>Ministry of Manpower</td>
      </tr>
      <tr>
        <td>Money Advice Service</td>
        <td>Scottish Enterprise</td>
        <td>Secret Earth</td>
      </tr>
      <tr>
        <td>Turnstone</td>
        <td>Viewabill</td>
      </tr>
      </tbody>
    </table>
  </div>
  <p>
</section>
