---
title: Welcome to Cultivate
---

<section id="our-history">
  <h1><a name="our-history"></a>Our History</h1>
  <p>Cultivate’s team were born from a common belief in fundamentally changing the way software consultancy is delivered. Previously Edgecase UK, the team were acquired to form the UK office of Neo (www.neo.com), a global product development studio.</p>
  <p>Neo brought together some of the best engineering and design consultancies to deliver Lean and Agile services to clients around the world.</p>
  <p>While Neo still operates under the brand name in the US and Singapore, Cultivate was born to focus on the UK market and continue to deliver world-class engineering, design and business strategy.</p>
  <ul>
    <li>Previous Clients</li>
    <li>JP Morgan</li>
    <li>General Electric</li>
    <li>Turnstone</li>
    <li>Housetrip</li>
    <li>Money Advice Service</li>
    <li>Ministry of Manpower</li>
    <li>Viewabill</li>
    <li>Gov.uk</li>
    <li>Secret Earth</li>
    <li>Emerge Adapt</li>
  </ul>
</section>

<section id="what-we-do">
  <h1><a name="what-we-do"></a>What we do</h1>
  <div class="column column__third">
    <h2>Build</h2>
    <p>We partner with clients to deliver world-class products through deep expertise in engineering, design and product management.</p>
  </div>
  <div class="column column__third">
    <h2>Consultation / Augmentation</h2>
    <p>Level-up your teams, boost performance and instil best practice.</p>
  </div>
  <div class="column column__third">
    <h2>Workshops / Education</h2>
    <p>Customised workshops around Ruby, Lean & Agile, UX/Design, and other technical processes. This needs refined.</p>
  </div>
</section>

<section id="contact">
  <h1><a name="contact"></a>Contact</h1>
  <address><a href="mailto:contact@cultivateHQ.com">contact@cultivateHQ.com</a></address>
</section>
