---
title: Welcome to Cultivate
---

<section id="what-we-do">
<a class="internal-anchor" name="what-we-do"></a>
  <div class="wrapper">
    <div class="row">
      <div class="column column__quarter">
        <h3>Build and test</h3>
        <p>Get your product out there. Our deep expertise in engineering, design and product management ensure you get rock solid code, that's ready for any enhancements you might want in the future. </p>
      </div>
    <div class="column column__quarter">
      <h3>Discovery</h3>
      <p>Laser-focus your product vision and gain deeper insights into what your customers really want. We collaboratively define success, learn quickly and give you the flexibility to build the right product.</p>
    </div>
      <div class="column column__quarter">
        <h3>Consultation</h3>
        <p>Embed our senior engineers or designers in your existing team. Turbo-boost performance and instil best practice in Lean, Agile and Lean UX, combined with technical and design excellence.</p>
      </div>
      <div class="column column__quarter">
        <h3>Education</h3>
        <p>Introduce Lean, Agile and Lean UX methodologies, kick-start new product initiatives or improve existing processes. Our workshops are bespoke and tailored to your specific business objectives.</p>
      </div>
    </div>
    <h1>
      Making great software is more than just great code.
    </h1>
    <h2>
Our highest priority is to create software that delivers business value and delights your customers. We research, prototype, and learn quickly, reacting to feedback to deliver the right solution, fast. Find out more about our process.
    </h2>
    <div class="call-to-action">
      <p>Let's make better products, together. Start the conversation today.</p>
      <button class='btn center large'>
        <%= link_to "Let's talk! &raquo;", '/#contact', class: 'internal-link' %>
      </button>
    </div>
  </div>
</section>
