---
title: Welcome to Cultivate
---

<section id="what-we-do">
  <div class="wrapper">
    <h1><a class="internal-anchor" name="what-we-do"></a>What can we do for you?</h1>
    <p class="leader">Amet cumque itaque pariatur pariatur tempora. Et exercitationem amet magni voluptatibus omnis voluptatibus esse quas ipsa deserunt quaerat, ullam deserunt dolores voluptatum. Esse molestiae sed ipsum reprehenderit velit nemo. Ducimus.</p>
    <div class="row">
      <div class="column column__third">
        <h2>Build</h2>
        <p>We partner with clients to deliver world-class products through deep expertise in engineering, design and product management.</p>
      </div>
      <div class="column column__third">
        <h2>Consultation</h2>
        <p>Level-up your teams, boost performance and instil best practice.</p>
      </div>
      <div class="column column__third">
        <h2>Education</h2>
        <p>Customised workshops around Ruby, Lean &amp; Agile, UX/Design, and other technical processes.</p>
      </div>
    </div>
    <div class="call-to-action">
      <p>To find out how we can help. Start a conversation today.
      <button class='btn center large'>
        <%= link_to "Let's talk! &raquo;", '/#contact', class: 'internal-link' %>
      </button>
      </p>
    </div>
  </div>
</section>

<section id="cultivate-history">
  <div class="wrapper">
    <a class="internal-anchor" name="our-history"></a>
    <h1>Our History</h1>
    <%= image_tag("history-line.png") %>
    <p>Cultivate’s team were born from a common belief in fundamentally changing the way software consultancy is delivered. Previously Edgecase UK, the team were acquired to form the UK office of Neo (www.neo.com), a global product development studio.</p>
    <p>Neo brought together some of the best engineering and design consultancies to deliver Lean and Agile services to clients around the world.</p>
    <p>While Neo still operates under the brand name in the US and Singapore, Cultivate was born to focus on the UK market and continue to deliver world-class engineering, design and business strategy.</p>
    <p>Previous clients include:</p>
    <ul class="clients">
      <li>JP Morgan</li>
      <li>General Electric</li>
      <li>Turnstone</li>
      <li>Housetrip</li>
      <li>Money Advice Service</li>
      <li>Ministry of Manpower</li>
      <li>Viewabill</li>
      <li>Gov.uk</li>
      <li>Secret Earth</li>
      <li>Scottish Enterprise</li>
      <li>Emerge Adapt</li>
    </ul>
  </div>
  <p>
</section>
