---
title: Welcome to Cultivate
---

<section id="what-we-do">
<a class="internal-anchor" name="what-we-do"></a>
  <div class="wrapper">
    <div class="row">
      <div class="column column__third">
        <h3>Build and test</h3>
        <p>Get your product out there. We partner with clients to design and build new software products with deep expertise in engineering, design and product management.</p>
      </div>
      <div class="column column__third">
        <h3>Consultation</h3>
        <p>Embed our senior engineers or designers in your existing team. Boost performance and instil best practice in Lean, Agile and Lean UX, combined with technical and design excellence.</p>
      </div>
      <div class="column column__third">
        <h3>Education</h3>
        <p>Introduce Lean, Agile and Lean UX methodologies, kick-start new product initiatives or improve existing processes. Our workshops are tailored to your specific business objectives.</p>
      </div>
      <div>
        <h3>Discovery</h3>
        <p>Laser-focus your product vision and gain deeper insights into what your customers really want. We collaboratively define success, learn quickly and give you the flexibility to build the right product.</p>
      </div>
    </div>
  </div>
</section>
<section class="work-with-us">
  <div class="wrapper">
    <a class="internal-anchor" name="contact"></a>
    <h1>
      We’re passionate about understanding businesses, ideas and people.
      <a href="mailto:contact@cultivateHQ.com">
        <strong>Let’s talk.</strong>
      </a>
    </h1>
  </div>
</section>
<%= partial "partials/history" %>
