---
title: Welcome to Cultivate
---

<section id="what-we-do">
  <h1><a name="what-we-do"></a>What we do</h1>
  <div class="column column__third">
    <h2>Build</h2>
    <p>We partner with clients to deliver world-class products through deep expertise in engineering, design and product management.</p>
  </div>
  <div class="column column__third">
    <h2>Consultation</h2>
    <p>Level-up your teams, boost performance and instil best practice.</p>
  </div>
  <div class="column column__third">
    <h2>Education</h2>
    <p>Customised workshops around Ruby, Lean & Agile, UX/Design, and other technical processes.</p>
  </div>
</section>

<section id="our-history">
  <h1><a name="our-history"></a>Our History</h1>
  <p>Cultivate’s team were born from a common belief in fundamentally changing the way software consultancy is delivered. Previously Edgecase UK, the team were acquired to form the UK office of Neo (www.neo.com), a global product development studio.</p>
  <p>Neo brought together some of the best engineering and design consultancies to deliver Lean and Agile services to clients around the world.</p>
  <p>While Neo still operates under the brand name in the US and Singapore, Cultivate was born to focus on the UK market and continue to deliver world-class engineering, design and business strategy.</p>
  <p>Previous clients include:</p>
  <ul>
    <li>JP Morgan</li>
    <li>General Electric</li>
    <li>Turnstone</li>
    <li>Housetrip</li>
    <li>Money Advice Service</li>
    <li>Ministry of Manpower</li>
    <li>Viewabill</li>
    <li>Gov.uk</li>
    <li>Secret Earth</li>
    <li>Emerge Adapt</li>
  </ul>
</section>

<section id="contact">
  <h1><a name="contact"></a>Contact</h1>
  <h2>We’re passionate about understanding businesses, ideas and people.</h2>
  <h2>Let’s talk about yours.</h2>
  <address class="vcard">
    <h3>
      <span class="email"><a href="mailto:contact@cultivateHQ.com">contact@cultivateHQ.com</a></span>&nbsp;
      <span class="tel">+44 (0)845 528 0757</span>
    </h3>
  </address>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2234.1795417019807!2d-3.2015699999999785!3d55.94626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c7991a24de13%3A0x5727e05b4321b9f6!2sCodeBase!5e0!3m2!1sen!2suk!4v1409834909187"
          class="contact-map"
          frameborder="0"></iframe>
</section>
