---
title: Key Place
icon: /images/products/key_place/key_place_icon.png
need: "Do you ever used a website that prompts you for the 3rd, 8th, and 12th character of your password? Do you spend the next few moments trying to work out what password you use, and counting through each of the required characters?"
---

<div class="row">
    <img src="/images/products/key_place/password-scratch-screen-1.png" alt="Password Scratch Screen 1")>
  <p>
    Key Place solves this problem. Key Place securely protects these partial passwords on your iPhone, and provides a quick and simple way to fetch ordinal characters.
  </p>
</div>

<div class="row">
  <h2>
    Getting started
  </h2>

    <img alt="Key Place Set Password" src="/images/products/key_place/kp_set_master_password.png">
    <p>
    Key Place is straightforward to use. On first use, you will be asked to set a master password. This master password will be used to securely encrypt your stored partial passwords.
    </p>

    <p>
    Of course, you should use something hard to guess and fairly complex. We also insist that it is at least 8 characters long. Mixing in numbers and punctation will make it harder to crack.
    </p>
</div>

<div class="row">
  <h2>
    Entering your master password
  </h2>

    <img alt="Key Place Check Password" src="/images/products/key_place/kp_check_password.png">
    <p>
    You will be asked for your master password when launching the application, or if it has been in the background for more than 60 seconds.
    </p>

    <p>
    If you get it wrong, there is a slight delay before you can try again. The delay doubles each time you get it wrong, to make it hard for someoene to guess your password.
    </p>
</div>

<div class="row">
  <h2>
    Add passwords
  </h2>
  <div class="row">
    <img alt="Key Place without passwords" src="/images/products/key_place/kp_empty.png">
    <p>
    Add the partial passwords you want to remember, using the + button on the top right of the main application screen.
    </p>
  </div>

  <div class="row">
    <img alt="Key Place add password" src="/images/products/key_place/kp_add_password.png">
    <p>
    Add the password and tap "done".
    </p>
  </div>

  <div class="row">
    <img alt="Key Place list of passwords" src="/images/products/key_place/kp_password_list.png">
    <p>
    Your passwords will be shown on the main screen.
    </p>
  </div>
</div>

<div class="row">
  <h2>
    Using a password
  </h2>

  <div class="row">
    <img alt="A bank password" src="/images/products/key_place/a_bank_password.png">
    <p>
    When you need to use a password (or pass number), just select it from the list to show the <em>display password screen</em>. Tap the keys <em>in the order requested</em>.
    </p>
  </div>
  <img alt="Key Place entering a passnumber of password" src="/images/products/key_place/kp_passnumber.png">
</div>

<div class="row">
  <h2>
    Edit and delete
  </h2>
  <div class="row">
    <img alt="Key place edit password" src="/images/products/key_place/kp_edit_password.png">
    <p>
    You can edit a password by selecting "edit" from the _display password_ screen.
    </p>
  </div>

  <div class="row">
    <img alt="Key place delete password" src="/images/products/key_place/kp_delete_password.png">
    <p>
    You can also delete a password from the _edit_ screen.
    </p>
  </div>
  <div class="row">
    <img alt="Key place delete password from main screen" src="/images/products/key_place/kp_delete_password_list.png">
    <p>
    Alternatively you can delete a password from the main screen, by swiping from right to left.
    </p>
  </div>
</div>

<div class="row">
  <h2>
    Change master password
  </h2>
  <img alt="Key place main screen" src="/images/products/key_place/kp_password_list.png">
  <img alt="Key Place change master password" src="/images/products/key_place/kp_change_master_password.png">
  <img alt="Key Place change master password" src="/images/products/key_place/kp_change_master_password.png">
  <p class="row">
  Tapping the cog button on the top left, in the navigation bar, of the main password-listing screen brings up the change master password screen.
  </p>
</div>

<div class="row">
  <h2>
    Security
  </h2>
  <p>
  Your master password is used to securely encrypt the stored the partial passwords and pass numbers on your iPhone. We use <a href="http://en.wikipedia.org/wiki/Advanced_Encryption_Standard">AES encryption</a>, with random <a href="http://en.wikipedia.org/wiki/Salt_(cryptography)">salts</a> and <a href="http://en.wikipedia.org/wiki/Initialization_vector">initialization vectors</a>.
  </p>
  <p>
  The master password itself is stretched, salted, and securely hashed before being stored in Apple's secure keychain. We take the password security very seriously.
  </p>
</div>

<div class="row">
  <h2>
    Support
  </h2>
  <p>
  If you have any questions, send to <a href="mailto:keyplace@cultivatehq.com?subject=Key Place">keyplace@cultivatehq.com</a>.
  </p>
</div>
