.case-studies-wrapper {
  text-align: center;
  h2 {
    margin-bottom: 40px;
  }
  @include em-min-width($breakpoint_tablet) {
      h2 {
        margin-bottom: 50px;
      }
  }
}

.case-studies {
  display: table;
  width: 100%;
  @include em-min-width(800) {
    @include flexbox();
  }



}

.case-study {
  width: 100%;
  padding: 0 20px 0 20px;

  img, svg {
    display: block;
    margin: 0 auto;
  }
  h3 {
    margin: 10px 0;
    a {
      color: $pink_brand;
      font-weight: 700;
      border-bottom: 2px solid $pink_brand;
      &:hover {
        border-color: $grey_brand;
      }
    }
  }
}
