.cta {
  text-align: center;
  background: $grey_dark;
}

.cta--reverse {
  background: $green_brand;
}

.cta--light {
  background: $grey_mid_brand;
}

.cta--transparent {
  background: transparent;
}

.cta--background {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: $white;
  h1, h2, h3,
  h4, h5, h6 {
    color: $white;
  }
}

.cta-title {
  margin-bottom: 60px;
}

.cta-inline {
  border-top: 1px solid #eaedee;
  border-bottom: 1px solid #eaedee;
  margin: 4rem 0;
}
