.services-links {
  font-size: 0;

  + .services-links {
    margin-top: 20px;
  }

  //display: table;
  width: 100%;
  @include em-min-width(800) {
    //@include flexbox();
  }
}

.services-link {
  background-color: $grey_mid_brand;
  color: $grey_dark;
  font-weight: 700;
  @include font-size(20);
  display: inline-block;
  vertical-align: top;
  width: 100%;
  min-height: 200px;
  padding: 50px 20px 40px 20px;
  text-decoration: none;
  text-align: center;

    h4 {
      margin-top: 10px;
      font-weight: 700;
      color: $grey_default;
    }

    svg {
      fill: $grey_default;
    }

    svg, img {
      max-width: 100%;
      height: auto;
    }

    + .services-link {
      margin-top: 20px;
    }

    &:hover, &:focus, &:active, .hover {
      background: $grey_dark;
      color: $white;
      h4 {
        color: $white;
      }

      svg {
        fill: $white;
      }
    }


    @include em-min-width(600) {
      min-height: 300px;
      padding: 80px 20px 50px 20px;
    }

    @include em-min-width(800) {
      width: 31.3333%;
      margin: 0 1%;
      //margin: 0 10px;

      + .services-link {
        margin-top: 0;
      }

    }

}

.services-link__icon {
  min-height: 130px;
}
