.services-link {
  background-color: $grey_mid_brand;
  color: $grey_dark;
  font-weight: 700;
  @include font-size(20);
  display: block;
  padding: 20px;
  min-height: 200px;
  text-decoration: none;
  text-align: center;

    + .services-link {
      margin-top: 20px;
    }

    &:hover, &:focus, &:active {
      background: $grey_dark;
      color: $white;
    }

}
